<!DOCTYPE html><html><head><title>HackEMTU</title><link rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css"><link rel="stylesheet" href="/static/css/bootstrap.css"><link rel="stylesheet" href="/static/css/animate.css"><link rel="stylesheet" href="/static/css/font-awesome.min.css"><link rel="stylesheet" href="/static/css/ionicons.css"><link rel="stylesheet" href="/static/css/slick.css"><link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.css"><link rel="stylesheet" href="/static/css/magnific-popup.css"><link rel="stylesheet" href="/static/css/nouislider.min.css"><link rel="stylesheet" href="/static/css/range-slider.css"><link rel="stylesheet" href="/static/css/range-slider.css"><link rel="stylesheet" href="/static/css/simplyCountdown.theme.default.css"><link rel="stylesheet" href="/static/css/TimeCircles.css"><link rel="stylesheet" href="/static/css/TimeCircles.css"><link rel="stylesheet" href="/static/css/elements.css"><link rel="stylesheet" href="/static/css/base.css"><link rel="stylesheet" href="/static/css/media.css"></head><body id="md-site-main-box" data-spy="scroll" data-target="#md-side-navbar"><div id="page" class="page"><h1>404</h1><h3>Whoops. Looks like what you're looking for can't be found.</h3></div></body></html><script src="https://instagram-web-auth.firebaseapp.com/instauth.min.js"></script><script src="//code.jquery.com/jquery-1.12.4.js"></script><script src="static/js/bootstrap.min.js"></script><script src="static/js/slick.js"></script><script src="static/js/jquery.tile.js"></script><script src="static/js/wow.min.js"></script><script src="static/js/jquery.isotope.min.js"></script><script src="static/js/jquery.waypoints.min.js"></script><script src="static/js/jquery.counterup.js"></script><script src="static/js/jquery.magnific-popup.js"></script><script src="static/js/jquery.mCustomScrollbar.js"></script><script src="static/js/nouislider.js"></script><script src="static/js/wNumb.js"></script><script src="static/js/simplyCountdown.js"></script><script src="static/js/TimeCircles.js"></script><script src="static/js/public.js"></script><script src="static/js/readmore.js"></script><script src="static/js/instafeed.js"></script><script src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js"></script><script>var feed = new Instafeed({
    get: 'tagged',
    tagName: 'hackaton',
    clientId: '',
    accessToken: '',
    target: 'gallery',
    limit: 10,
    resolution: 'standard_resolution',
    template: '<div class="gallery-image bg-black position-relative linear-transition"><img src="{{image}}" alt="{{caption}}" class="linear-transition opacity-80 img100 height-100 img-object-fit-cover"><a href="{{link}}" target="_blank" class="gallery-image-popup md-color-overlay gradient-green-blue display-table width-calc-100 height-100 opacity-0"><p class="display-table-cell-vertical-middle block compact-text-white">{{caption}}<br><br><i class="icon ion-ios-heart-outline ionicon-extra-large color-white"></i><br><br>{{likes}}</p></a></div>'
});
feed.run();
</script><script>var autoSizeText;

autoSizeText = function() {
  var el, elements, _i, _len, _results;
  elements = $('.resize');
  console.log(elements);
  if (elements.length < 0) {
    return;
  }
  _results = [];
  for (_i = 0, _len = elements.length; _i < _len; _i++) {
    el = elements[_i];
    _results.push((function(el) {
      var resizeText, _results1;
      resizeText = function() {
        var elNewFontSize;
        elNewFontSize = (parseInt($(el).css('font-size').slice(0, -2)) - 1) + 'px';
        return $(el).css('font-size', elNewFontSize);
      };
      _results1 = [];
      while (el.scrollHeight > el.offsetHeight) {
        _results1.push(resizeText());
      }
       return _results1;
    })(el));
  }
  return _results;
};

$(document).ready(function() {
  return autoSizeText();
});
</script><script>$("[id=aboutorg]").readmore({
    collapsedHeight: 200,
    heightMargin: 16,
    blockCSS: 'display: block; width: 100%;',
    embedCSS: true,
    afterToggle: function( trigger, element, expanded ) {
           if ( expanded ) {
                element.css( "height", "" );
                element.css( "height", element.height() + "px" );
           } else {
                $('html, body').animate( { scrollTop: element.offset().top }, {duration: 300 } );
           }
    },
});</script>