@media (max-width: 1680px) {
.arrow-style-1 .slick-prev.slick-arrow { left: -90px; }
.arrow-style-1 .slick-next.slick-arrow { right: -90px; }
.aboutus-style-1 { background-position: bottom right -220px; }
.upcoming-event-style-2 .upcoming-event-image { height: 550px; width: 680px; }
.ionicon-humor-bg { font-size: 330px !important; }
.gallery-style-1 .md-gImgpath .md-gallery-content { padding: 30px 26px 13px; }

/*Css given by mansi on 2nd nov 2017*/
.banner-style-14 .banner-slider-style-3 h1 { padding-right: 30px; }

/*New template element css*/
.banner-style-19 .md-banner-image {width: 563px; height: 519px; }
.banner-style-19 .md-banner-image .banner-small-image-2 {width: 125px; height: 124px; right: -124px; bottom: -99px; }
.banner-style-19 .md-banner-content .banner-small-image-1 {width: 149px; height: 149px; top: -172px; }
}

@media (max-width: 1300px) {
.upcoming-event-style-3,
.blog-style-1-no-border-img.md-blog-section .blog-right-img-bg { padding-bottom: 156px !important; }
.services-style-2 .md-services-individual { height: 450px !important; }
.team-style-4 .md-team-content .md-team-img { height: 300px; }
.testimonial-style-3 .md-testimonial-slide p { padding: 0% 10%; }
.upcoming-event-style-2 .upcoming-event-image { height: 400px; width: 400px; }
.upcoming-event-style-2 .image-behind-border { width: 200px; height: 280px; right: 70px; }
.upcoming-event-style-2 .behind-border-img-block { top: 200px; right: 70px; }
.aboutus-style-2 .md-about-right { right: 6%; }
.arrow-style-1 .slick-arrow { top: auto; bottom: -100px; width: 50px; height: 50px; }
.arrow-style-1 .slick-next.slick-arrow { right: 44%; }
.arrow-style-1 .slick-prev.slick-arrow { left: 45%; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-arrow { top: 0% !important; bottom: auto !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-next.slick-arrow { right: 0% !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-prev.slick-arrow { left: 0% !important; }
.gallery-style-1 .md-gallery-space.padding-lr-63 { padding: 0px 55px; }
.img-round-156 { height: 150px; width: 150px; }
.faicon-counter-big { font-size: 50px; }
.ionicon-extra-big { font-size: 80px !important; }
.ionicon-humor-bg { font-size: 250px !important; }
.padding-lr-180 { padding: 0px 80px; }
.pad-bottom-20 { padding-bottom: 15px; }
.social-media-icons.social-rounded ul li a { width: 40px; height: 40px; line-height: 40px; font-size: 18px; }


/*Css given by mansi on 2nd nov 2017*/
.banner-style-14 .banner-slider-style-3 h1 { padding-right: 30px; }
.banner-style-15 .banner-slider-style-4 .md-banner-content { padding: 0% 19%; }
.arrow-style-6 .slick-prev.slick-arrow { left: 10px;}
.arrow-style-6 .slick-next.slick-arrow { right: 10px;}

.dot-style-5.position-left-dot .slick-dots { right: -4%; }

/* New template element css */
.text-title-style-9 .padding-all-100 { padding: 35px; }

.banner-style-19 .md-banner-image {width: 523px; height: 489px; }
.banner-style-19 .md-banner-image .banner-small-image-2 {width: 105px; height: 104px; right: -94px; bottom: -109px; }

/*after version 1.3*/
.testimonial-style-10 .testimonial-style10-slider .testimonial-slide { width: 550px !important; }
.testimonial-style-10 .testimonial-style10-slider .testimonial-slide.padding-top-50 { padding-top: 50px; }
.testimonial-style-10 .col-xs-12.padding-left-60 { padding-left: 15px; }
.banner-style-22 .dot-style-7.position-left-dot .slick-dots { left: 242px; }
.banner-style-22 .banner-content-image { right: 0; }
.banner-style-22 .banner-content-image img { max-width: 90%; }
.banner-style-22 .md-banner-content { padding: 143px 0px 108px; }
}

@media (max-width: 1199px) {
.md-theme-logo { width: 200px; }
.banner-style-3 .md-banner-content { width: 500px !important; }
.aboutus-style-6 .md-about-icon-box.margin-right-30 { margin-right: 15px; }
.aboutus-style-6 .md-about-icon-box.margin-left-30 { margin-left: 15px; }
.package-style-1 .md-package-detail .md-package-price { width: 130px; height: 130px; margin-bottom: 0; }
.package-style-1 .md-package-detail .md-premium-package .md-package-newoffer { font-size: 11px; -webkit-transform: rotate(-45deg) translate(-93px, -74px); transform: rotate(-45deg) translate(-93px, -74px); }
.blog-style-1-no-border-img .md-blog-slides .md-blog-image { height: 335px; }
.blog-style-1-no-border-img .md-blog-slides .md-blog-text p { width: 100%; }
.testimonial-nav-slider-style-4 .slick-list { margin: 0% 15% !important; }
.counter-style-2 .md-yoga-icon .icon { line-height: 80px; }
.map-style-1.md-map { height: 480px; }
.footer-style-5 .md-newsletter-form .md-input { width: 300px; }
.services-style-2 .md-services-individual { height: 400px !important; }
.contactus-style-3 { background-image: none !important; }
.aboutus-style-7 .md-story-img { height: 400px; width: 400px; }
.aboutus-style-7 .md-story-img .image-overlay-border { height: 440px; width: 398px; }
.aboutus-style-7 .story-content-block .story-teller-box::before { width: 400px; }
.upcoming-event-style-4 .event-detail .reception,
.upcoming-event-style-4 .event-detail .ceremony, 
.upcoming-event-style-4 .event-detail .party { padding: 20px 30px; margin-top: 0 !important; }
.upcoming-event-style-4 .event-detail .ceremony::before, 
.upcoming-event-style-4 .event-detail .ceremony::after, 
.upcoming-event-style-4 .event-detail .party::before, 
.upcoming-event-style-4 .event-detail .party::after { display: none; }
.card-style-1 .bride-groom-name::after { top: 25px; right: -45px; bottom: 25px; left: -45px; }
.card-style-1 .bride-groom-name::before { top: 40px; right: -60px; bottom: 40px; left: -60px; }
.gallery-style-4 .gallery-image { height: 240px; }
.logoshowcase-style-3 .logo-image { width: 100%; height: 100px; }
.team-style-2 .agent-image-block { margin-bottom: 30px; }
.gallery-style-2.gallery-image { height: 300px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 400px; }
.call-to-action-style-3 h2 { padding-right: 0 !important; }
.call-to-action-style-3 a { margin-left: 0 !important; }
.call-to-action-style-3 .call-to-action-image { height: 210px; top: -40px; width: 300px; right: -40px; }
.team-style-3 .team-slider-style-3 .speaker-slides .speaker-image, 
.blog-style-4 .blog-slide .blog-image { height: 220px; }
.gallery-style-3 .gallery-image { height: 230px; }
.contactus-style-2 .md-map { height: 500px; }
.contactus-style-2 .contact-form-address-container { padding-top: 73px; padding-bottom: 72px; }
.package-style-2 .md-plan-detail-list.text-small-16 { font-size: 14px !important; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .upcoming-event-slide .left-event-time::before { height: 114px; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .upcoming-event-slide .left-event-time .outer-bordered-circle { right: 10px; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .upcoming-event-slide .left-event-time::before, 
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .upcoming-event-slide .left-event-time::after { right: 25px; }
.upcoming-event-style-1 .upcoming-event-slide .left-event-time::after { bottom: -114px; height: 306px; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .mCSB_container { left: 0 !important;}
.menuBar .navbar-nav li a { padding: 0 15px; }
.black-transparent .menuBar .navbar-nav li a,
.gradient-menu .menuBar .navbar-nav li a { padding: 0px 0 0 25px; }
.social-media-icons.ul-with-border-raddius-bg .list-group { padding: 20px 50px !important; top: -32px; }
.social-media-icons ul li { font-size: 28px; }
.md-footer-menu .horizontal-footer-menu a { padding: 0px 15px; }
.arrow-style-1 .slick-next.slick-arrow { right: 43%; }
.arrow-style-1 .slick-prev.slick-arrow { left: 44%; }
.padding-all-50 { padding: 30px; }
.padding-lr-50 { padding: 0px 30px; }
.margin-bottom-85 { margin-bottom: 45px; }
.margin-top-125 { margin-top: 65px; }
.margin-top-118 { margin-top: 65px; }
.margin-right-240 { margin-right: 40px; }
.margin-right-140 { margin-right: 20px; }
.text-extra-large-65 { font-size: 55px !important; line-height: 65px; }
.text-large-45 { font-size: 38px; line-height: 40px; }
.text-medium-38 { font-size: 34px; line-height: 44px; }
.text-medium-22 { font-size: 20px; line-height: 26px; }
.text-small-16 { font-size: 15px !important; }
.ionicon-extra-big { font-size: 50px !important; }
.ionicon-big { font-size: 72px !important; }
.ionicon-humor-bg { font-size: 200px !important; }
.aboutus-style-1 { background-position: bottom right -450px; }
.testimonial-style-1 .testimonial-slider-style-1 .img-round-340 { height: 210px; width: 210px; border-width: 9px; }
.testimonial-style-1 .testimonial-slider-style-1 .slick-dots { position: static; padding-top: 30px !important; }
.testimonial-style-1 .testimonial-slider-style-1 .md-client-image:after { top: 0px; }
.gallery-style-1 .md-gallery-space.padding-lr-63 { padding: 0px 50px; }
.gallery-style-1 .md-gImgpath .md-gallery-content { padding: 20px 15px 13px; }

.md-header-style-7 .menuBar .navbar-nav > li a { padding: 0 12px; }

.header-style-1-with-button .menuBar .navbar-nav li a { padding: 0px 0 0 17px; }
.header-style-1-with-button .header-button-style { padding-left: 20px; }

.md-header-style-8 .menuBar .navbar-nav > li a { padding: 0 22px; }

.md-header-style-4 .md-main-menu .margin-left-30{margin-left: 5px;}
.md-header-style-4 .menuBar .navbar-nav li a { padding: 0 0 0 20px; }

.md-header-style-5 .menuBar .navbar-nav li a{margin: 0 15px;}

.md-header-style-6 .menuBar .navbar-nav li a{margin: 0 18px;}

.arrow-style-3 .slick-prev.slick-arrow { left: 20%; }
.arrow-style-3 .slick-next.slick-arrow { right: 20%; }
.arrow-style-3 .slick-arrow { bottom: -110px; top: auto; }

.services-style-8 .col-xs-6:nth-last-child(3),
.services-style-8 .col-xs-6:nth-last-child(4) { border-bottom: 1px solid #e5e5e5; }		
.services-style-8 .col-xs-6:nth-last-child(1),		
.services-style-8 .col-xs-6:nth-last-child(3),		
.services-style-8 .col-xs-6:nth-last-child(6) { border-right: 0px; }		
.services-style-8 .col-xs-6:nth-last-child(5) { border-right: 1px solid #e5e5e5; }

.services-style-11 .services-image { width: 100%; }

.arrow-style-4 .slick-arrow { width: 38px; height: 38px; bottom: 50px; top: auto; }
.arrow-style-4 .slick-next.slick-arrow { right: 18%; }
.arrow-style-4 .slick-prev.slick-arrow { left: 69%; }

.call-to-action-style-9 .col-xs-12.padding-right-120 { padding-right: 15px; }
.call-to-action-style-9 .col-xs-12.padding-left-120 { padding-left: 15px; }		
.call-to-action-style-9 h2.padding-top-97 { padding-top: 70px; }

.counter-style-8 .flex-container { display: block; padding-bottom: 90px; padding-top: 90px; }
.counter-style-8 .counter-icon { float: none; display: block; margin-right: auto; margin-left: auto; margin-bottom: 20px; }
.counter-style-8 .counter-content.padding-left-30 { padding-left: 0; display: block; text-align: center;}

/* shweta */
.md-header-style-4 .md-main-menu .margin-left-50 {margin-left: 30px;}
.md-header-style-6 .menuBar .navbar-nav li a {margin: 0 18px;}
.md-header-style-6 .md-theme-logo { width: 115px !important;}
.md-header-style-5 .menuBar .navbar-nav li a {margin: 0 15px;}

.contactus-style-8 .need-info { text-align: center; margin-bottom: 30px;}
.contactus-style-8 .email-main { text-align:center; }
.contactus-style-8 .padding-tb-95 {padding-top: 50px; padding-bottom: 55px;}

.contactus-style-9 .col-xs-12 {text-align: center;}
.contactus-style-9 .need-info { margin-bottom: 30px; }
.contactus-style-9 .newsletter-style-1 .md-newsletter-form input[type="email"] {width: 50%;}

/*Css given by mansi on 2nd nov 2017*/
.dot-style-4.position-left-dot .slick-dots { left: 15px; }
.arrow-style-5 .slick-prev.slick-arrow { left: 0; }
.arrow-style-5 .slick-next.slick-arrow { right: 0;}

.banner-style-18 .banner-slider-style-3 .banner-content-image { height: 460px; }
.banner-style-18 .banner-slider-style-3 p.padding-right-130 { padding-right: 60px; }

.dot-style-5.position-left-dot .slick-dots { top: auto; right: auto; -webkit-transform: translate(0, -50%) rotate(-180deg); -moz-transform: translate(0, -50%) rotate(-180deg); -ms-transform: translate(0, -50%) rotate(-180deg); transform: translate(0, -50%) rotate(-180deg); bottom: 0; }
.dot-style-5 .slick-dots li { float: right; }

.logoshowcase-style-5 .logo-image { height: 150px; }
.logoshowcase-style-5 .logo-image img { max-width: 100%; }

.footer-style-8 .footer-logo-img img,
.footer-style-9 .footer-logo-img img  { max-width: 85%; }
.social-media-icons.social-rounded.small-round ul li a { width: 32px; height: 32px; line-height: 29px; font-size: 14px; }
.social-media-icons.social-rounded.small-round ul li a i { line-height: 29px; }

.social-media-icons ul li a { padding: 0 14px; }

.footer-style-14 .md-footer-menu .horizontal-footer-menu a { padding: 0px 7px; }

.social-media-icons.small-icon-16 ul li a { padding: 0 10px; }
.footer-style-16 .horizontal-footer-menu li a { padding: 0px 7px; }

/*j*/

.accordion-style3 { width: 96%; padding: 30px 0; }

.form-style-10 .md-text { width: calc(100% - 129px - 130px); }
.form-style-10 .md-select { width: 130px; }

/*New template element css*/
.gallery-style-8 .gallery-image { height: 290px; }

.pricing-table-style-9 .pricing-table-style-9-slider .course-box:hover .price-tag { background-color: #f43e56; }

.banner-style-19 .md-banner-image { width: 440px; height: 409px; }
.banner-style-19 .md-banner-content .banner-small-image-1 { width: 139px; height: 139px; top: -98px; right: -51px; }
.banner-style-19 .md-banner-image .banner-small-image-2 { width: 75px; height: 74px; bottom: -119px; right: -24px; }

/*CSS after version 1.3*/
.services-style-12 .service-box:before { width: 100%; height: 100%; }
.services-style-12 .service-box:hover:before { -webkit-transform: scale(0.8); transform: scale(0.8); }

.gallery-style-9 .md-gallery-grid .md-gImgpath { height: 300px; }

.banner-style-21 .banner-slider-style-6 .md-banner-content a.margin-right-30 { margin-right: 15px; }

.banner-style-22 .dot-style-7.position-left-dot .slick-dots { left: 15px; }
.banner-style-22 .banner-slider-style-3 .banner-slide { padding-right: 15px; padding-left: 15px; }
.banner-style-22 .banner-content-image { display: none; }
}

@media (max-width: 991px) {
.md-theme-logo { width: 180px !important; }
.banner-style-3 .md-banner-content { margin: 0 auto; }
.package-style-1 .md-package-detail .md-premium-package .md-package-newoffer { -webkit-transform: rotate(-45deg) translate(-122px, -88px); transform: rotate(-45deg) translate(-122px, -88px); }
.blog-style-1-no-border-img .md-blog-slides .md-blog-image { height: 300px; }
.testimonial-style-4-with-multiple-img-nav.md-testimonial-section { padding-bottom: 174px; }
.testimonial-style-4 .testimonial-nav-slider-style-4 .slick-list { margin: 0% 0% !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-arrow { top: auto !important; bottom: -100px !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-next.slick-arrow { right: 41% !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-prev.slick-arrow { left: 42% !important; }
.package-style-1 .md-package-detail .md-package-top { padding: 34px 10px 104px 10px; }
.counter-style-2 .md-yoga-icon .icon { line-height: 76px; }
.package-style-1 .md-package-detail .md-medium-package, 
.package-style-1 .md-package-detail .md-premium-package, 
.package-style-1 .md-package-detail .md-advance-package { margin-top: 0; }
.aboutus-style-6 .margin-top-118 { margin-top: 20px; }
.aboutus-style-6 .about-content { text-align: center; display: block;}
.aboutus-style-6 .md-about-icon-box { float: none; margin-right: auto !important; margin-left: auto !important; margin-bottom: 15px; }
.aboutus-style-6 .md-about-item-box.margin-bottom-53 { margin-bottom: 15px; }
.package-style-1 .md-package-detail .col-xs-12:last-of-type { margin: 0 auto; }
.package-style-1 .md-package-detail .col-xs-12 { width: 400px; float: none; margin: 0 auto 30px; }
.product-shop-style-1 .md-product-image { width: 200px; height: 200px; }
.team-style-4 .md-team-content .md-team-img { height: 200px !important; }
.aboutus-style-5 .md-about-left .md-about-img { height: 400px !important; }
.aboutus-style-5 .md-about-left::before,
.aboutus-style-5 .md-about-left::after { width: 230px !important; height: 230px !important; }
.aboutus-style-5 .md-about-left::after { background-position: 230px 230px !important; }
.footer-style-5 .md-newsletter-form .md-input { width: 200px; }
.banner-style-7 .md-banner-content { width: 600px; }
.aboutus-style-7 .md-story-img { height: 300px; width: 300px; }
.aboutus-style-7 .md-story-img .image-overlay-border { height: 340px; width: 298px; }
.aboutus-style-7 .story-content-block .story-teller-box::before { width: 290px; }
.aboutus-style-7 .story-content-block p { padding: 0px 15px; }
.card-style-1 .invitation-card h2 img { width: 300px; }
.footer-style-7 .contact-form-address-container,
.footer-style-7 .md-social-menu,
.footer-style-7 .md-copyright { padding: 0px 15px; }
.upcoming-event-style-4 .event-detail .reception, 
.upcoming-event-style-4 .event-detail .ceremony, 
.upcoming-event-style-4 .event-detail .party { width: 400px;  margin-right: auto; margin-left: auto; margin-bottom: 30px; }
.upcoming-event-style-2 .upcoming-event-image { margin-right: auto; margin-left: auto; margin-top: 30px; }
.upcoming-event-style-2 .behind-border-img-block { left: 0; right: 0; position: static; margin-right: auto; margin-left: auto; width: 100%; float: left; }
.aboutus-style-4 .about-image,
.aboutus-style-4 .image-behind-border { height: 320px; width: 250px; }
.aboutus-style-4 .md-about-right { margin-left: 0; }
.testimonial-style-3 .md-testimonial-slider { padding: 0% 10%; }
.testimonial-style-3 .md-testimonial-slide .testimonial-image { margin-top: 50px; }
.banner-style-2 .md-banner-content .banner-content-image { width: 650px; height: 400px; }
.aboutus-style-2 .md-about-right { display: none; }
.call-to-action-style-3 .call-to-action-image { width: 200px; height: 180px; top: 55px; }
.floor-plan-style-1 .floor-plan-grid .floor-plan-image { height: 350px; }
.gallery-style-2 .gallery-image { height: 250px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 600px; }
.team-style-2 .col-xs-12:nth-last-child(2) .flex-container { margin-bottom: 30px; }
.team-style-2 .agent-content-block { padding-right: 0px !important; }
.cta-style-3 .call-to-action-image { right: 0; bottom: 0; position: static; width: 100%; height: auto; margin: 40px auto; }
.team-style-3 .team-slider-style-3 .speaker-slides .speaker-image,
.blog-style-4 .blog-slide .blog-image { height: 260px; }
.package-style-2 .col-xs-12 .price-plan { width: 400px; margin-right: auto; margin-left: auto; margin-bottom: 30px; }
.package-style-2 .col-xs-12:last-of-type .price-plan { margin-bottom: 0; }
.contactus-style-2 .contact-form-address-container { padding-right: 0; padding-left: 0; padding-top: 60px; padding-bottom: 60px; }
.contactus-style-2 { text-align: center;}
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .left-event-time::after { bottom: -225px; height: 235px; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .event-detail-content { text-align: center; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .event-time-speaker-detail { width: 100%; float: left; text-align: center; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .event-time-speaker-detail .speaker-detail { margin-bottom: 10px; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .event-time-speaker-detail .event-detail-button { float: none; margin-bottom: 10px;top: 0;transform: translateY(0); }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .left-event-time span { top: 20px; position: relative; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .left-event-time .outer-bordered-circle { right: 10px; top: 20px; }
.blog-style-4 .blog-slide .col-xs-12:nth-last-child(2).margin-bottom-50  { margin-bottom: 25px; }
.call-to-action { text-align: center;}
.call-to-action .flex-container { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.call-to-action h2 { margin-bottom: 10px; padding-right: 0 !important; width: 100%; margin-right: 0 !important; text-align: center; }
.call-to-action .title-content-block { margin-bottom: 25px; text-align: center; width: 100%; }
.call-to-action .col-xs-12 { text-align: center !important;}
.display-box { display: block; }
.gallery-style-1 .md-gImgpath.odd-line,
.gallery-style-1 .md-gImgpath.even-line { height: 300px; }
.time_circles .time-span-number { font-size: 28px !important; }
.time_circles .time-span-word { font-size: 14px !important; }
.social-media-icons.social-rounded ul li a { width: 32px; height: 32px; line-height: 31px; font-size: 15px; }
.black-transparent .menuBar .navbar-nav li a { padding: 0 0 0 10px; }
.menuBar .navbar-nav li a { padding: 0 0 0 10px; font-size: 13px; }
.gradient-menu .menuBar .navbar-nav li a { padding: 0px 0 0 10px; }
.md-header-style-2 .menuBar ul.navbar-nav li a { padding: 0 10px; }
.img-round-273 { height: 260px; width: 260px; }
.arrow-style-1 .slick-next.slick-arrow { right: 41%; }
.arrow-style-1 .slick-prev.slick-arrow { left: 42%; }
h1 { font-size:55px; line-height: 65px;}
h2 { font-size:35px; line-height:45px}
h3 { font-size:30px; line-height:35px}
h4 { font-size:26px; line-height:38px}
h5 { font-size:16px; line-height:20px}
h6 { font-size:14px; line-height:20px} 
.text-extra-large-90 { font-size: 50px !important; line-height: 50px; }
.text-extra-large-65 { font-size: 54px !important; line-height: 60px;}
.text-large-60 { font-size: 40px !important; line-height: 60px; }
.text-large-50 { font-size: 30px; line-height: 40px; }
.text-large-40 { font-size: 36px; line-height: 42px; }
.text-medium-38 { font-size: 32px; line-height: 42px; }
.text-medium-28 { font-size: 24px; line-height: 38px; }
.text-medium-25 { font-size: 22px; line-height: 35px; }
.text-medium-22 { font-size: 18px; }
.text-medium-19 { font-size: 18px; line-height: 30px; }
.ionicon-humor-bg { font-size: 250px !important; }
.padding-lr-180 { padding: 0px 40px; }
.padding-lr-63 {padding: 0px 40px;}
.padding-220 { padding: 100px 0 !important; }
.padding-180 { padding: 100px 0 !important; }
.padding-130 { padding: 90px 0 !important; }
.padding-100 { padding: 70px 0 !important; }
.padding-90 { padding: 65px 0 !important; }
.padding-80 { padding: 55px 0 !important; }
.padding-65 { padding: 50px 0 !important; }
.padding-60 { padding: 50px 0 !important; }
.padding-50 { padding: 30px 0 !important; }
.padding-30 { padding: 25px 0 !important; }
.padding-top-30 { padding-top: 25px !important;}
.pad-bottom-80 { padding-bottom: 55px; }
.pad-bottom-60 { padding-bottom: 45px; }
.pad-bottom-55 { padding-bottom: 35px; }
.pad-bottom-50 { padding-bottom: 25px; }
.pad-bottom-45 { padding-bottom: 25px; }
.pad-bottom-30 { padding-bottom: 25px; }
.padding-all-60 { padding: 40px;}
.padding-all-40 { padding: 25px; }
.margin-top-100 { margin-top: 50px; }
.margin-top-60 { margin-top: 40px; }
.margin-top-55 { margin-top: 30px; }
.margin-top-50 { margin-top: 30px; }
.margin-top-40 { margin-top: 25px; }
.margin-top-30 { margin-top: 20px; }
.margin-bottom-250 { margin-bottom: 150px; }
.margin-bottom-100 { margin-bottom: 55px; }
.margin-bottom-85 { margin-bottom: 30px; }
.margin-bottom-80 { margin-bottom: 55px; }
.margin-bottom-70 { margin-bottom: 50px; }
.margin-bottom-65 { margin-bottom: 55px; }
.margin-bottom-60 { margin-bottom: 30px; }
.margin-bottom-55 { margin-bottom: 30px; }
.margin-bottom-50 { margin-bottom: 25px; }
.margin-bottom-45 { margin-bottom: 30px; }
.margin-bottom-43 { margin-bottom: 30px; }
.margin-bottom-40 { margin-bottom: 30px; }
.margin-bottom-35 { margin-bottom: 30px; }
.margin-lr-50 { margin: 0px 30px;}
.margin-lr-35 { margin: 0px 25px;}
.margin-lr-30 { margin: 0px 15px;}
.margin-left-67 { margin-left: 20px; }
.md-footer-menu .horizontal-footer-menu a { padding: 0px 3px; }
.md-newsletter-form.news-letter-style-2 input[type="email"] { width: 300px; }
.md-newsletter-form.news-letter-style-2 .md-form-submit { right: 46px; }
.aboutus-style-1 { background-position: bottom right -550px; }
.contactus-style-1 .md-contact-form-section { margin-bottom: 30px; }
.team-style-1.md-team { padding-top: 200px; }
.work-introduction-style-1 .vision-mission-container .vision-block { padding: 48px 30px 0px;}
.work-introduction-style-1 .vision-mission-container .mission-block { padding: 43px 30px 0px;}
.team-slider-style-1 .md-team-img img, 
.team-style-3 .artist-image-block img { height: 100%; }
.team-style-4 .social-media-icons.social-rounded ul li a span, 
.team-style-4 .social-media-icons.social-rounded ul li a span i.fa { height: 32px; line-height: 31px; }
.vision-box .vision-mission-container { top: 0; display: inline-block; margin: 25px auto; }



.header-style-1-with-button .md-logo-navbar { padding: 0; }
.header-style-1-with-button .header-button-style { display: none; }

.md-header-style-8 .menuBar .navbar-nav > li a { padding: 0 10px; }

.md-header-style-4 .md-main-menu .margin-left-30 { display: none; }

.md-header-style-5 .menuBar{padding-bottom: 0;}
.md-header-style-5 .search-form-style-1{padding-top: 0; padding-bottom: 30px; padding-right: 15px;}
.md-header-style-5.header-position-fixed{position: relative !important;}
.md-header-style-5 .menuBar{padding-bottom: 0; width: 100%;}

.md-header-style-6 .menuBar .navbar-nav li a{margin: 0 10px; font-size: 12px;}

.md-header-style-4 .md-theme-logo {width: 160px !important; }
.md-header-style-4 .menuBar .navbar-nav li a { padding: 0px 0 0 19px; }

/*Css by mansi from 1st Nov 2017*/
.banner-style-14 { text-align: center; }
.banner-style-14 h1 { padding-right: 0; }
.banner-style-14 .col-xs-12 {background: rgba(0, 0, 0, 0.4); padding: 50px; }

/*Css given by mansi on 2nd nov 2017*/
.dot-style-4.position-left-dot .slick-dots { left: 0; right: 0; }
.banner-style-15 .banner-slider-style-4 .md-banner-content { padding: 0% 7%; }
.banner-style-15 .banner-slider-style-4 .banner-slide { padding-top: 150px; padding-bottom: 160px; }
.banner-style-16 .banner-slider-style-5 .banner-slide { padding-top: 138px; padding-bottom: 145px; }
.banner-style-17 .banner-slider-style-6 .banner-content-image { height: 590px; }
.dot-style-5.position-left-dot .slick-dots { right: auto; top: auto; bottom: 0; }
.dot-style-5.position-left-dot .slick-dots li { display: inline-block !important; margin: 0 10px 0 0 !important; width: 2px !important; height: 30px !important;-webkit-transition: width 0.5s linear, height 0.5s linear; transition: width 0.5s linear, height 0.5s linear; }
.dot-style-5.position-left-dot .slick-dots li.slick-active { width: 2px !important; height: 50px !important; }
.banner-style-18 .banner-slider-style-3 p.padding-right-130 { padding-right: 0px; }

.logoshowcase-style-4 .logo-image img { max-width: 100%; }

.logoshowcase-style-5 .logo-image { height: 200px; }
.logoshowcase-style-5 .logo-image img { max-width: 70%; }

.gallery-style-7 .col-xs-12:first-child { height: auto !important; margin-bottom: 50px; }

.footer-style-8 .footer-logo-social-links .footer-logo-img { margin-bottom: 15px; }
.footer-style-8 .footer-logo-social-links .footer-logo-img img { max-width: 50%; }
.footer-style-8 .footer-logo-social-links { text-align: center; }
.footer-style-8 .footer-logo-social-links span.margin-bottom-42 { margin-bottom: 20px; }

.footer-style-14 .footer-logo-img.text-align-left,
.footer-style-14 .footer-follow-on-socialmedia.text-align-right { text-align: center;}
.footer-style-14 .footer-logo-img,
.footer-style-14 .horizontal-footer-menu { margin-bottom: 15px; }
.text-title-style-7 p.padding-right-57 { padding-right: 0; }

.aboutus-style-10 hr { width: 100%; }

.header-style-1-with-button .md-logo-navbar { padding: 0; }
.header-style-1-with-button .header-button-style { display: none; }
.md-header-style-7 .menuBar .navbar-nav > li a { padding: 0 0 0 6px; }
.md-header-style-8 .menuBar .navbar-nav > li a { padding: 0 10px; }
.services-style-8 .col-xs-6:nth-last-child(6) { border-right: 1px solid #e5e5e5; }
.services-style-8 .col-xs-6:nth-last-child(1),
.services-style-8 .col-xs-6:nth-last-child(3),
.services-style-8 .col-xs-6:nth-last-child(5),
.services-style-8 .col-xs-6:nth-last-child(7) { border-right: 0px; }

.team-style-7 .md-team-detail.center-team-block { padding-top: 49px; }
.team-style-7 .md-team-detail.center-team-block .social-media-icons { margin-bottom: 25px; }
.team-style-7 .md-team-detail { margin-top:0; }

.team-style-8 .team-slider-style-8 .md-team-img { width: 280px; }
.team-style-8 .team-slider-style-8 .md-team-detail.padding-left-120 { padding-left: 15px; }
.team-style-8 .team-slider-style-8 .md-team-detail.padding-right-120 { padding-right: 15px; }

.call-to-action-style-7 .col-xs-12 { padding-left: 15px !important; padding-right: 15px !important; }
.call-to-action-style-9 h2.padding-top-97 { padding-top: 45px; }

.call-to-action-style-11 .call-to-action-image { margin-right:auto; margin-bottom: 30px; }

.video-story-style-3 iframe { height: 450px; }

.video-story-style-4-left iframe { margin-bottom: 20px; }
.video-story-style-4-left .col-xs-12.padding-left-45 { padding-left: 15px; }
.video-story-style-4-right .col-xs-12.padding-right-45 { padding-right: 15px; margin-bottom: 30px; }

.video-story-style-7 .video-story-content { margin-bottom: 30px; }
.package-style-4 .md-plan-detail .col-xs-12 { border-right: none; }
.package-style-4 .md-plan-detail .col-xs-12:nth-last-child(3) { padding-bottom: 50px; border-bottom: 1px solid #eaeaea; }
.package-style-4 .md-plan-detail .col-xs-12:nth-last-child(2) { padding-top: 50px; padding-bottom: 50px; border-bottom: 1px solid #eaeaea; }
.package-style-4 .md-plan-detail .col-xs-12:nth-last-child(1) { padding-top: 50px; }

.package-style-6 .md-minimal-plan { margin-top:0; margin-bottom: 30px; }
.package-style-6 .md-ultimate-plan { margin-top: 30px; }

.package-style-7 .col-xs-12 { border-right: none; }
.package-style-7 .price-plan { border-bottom: 1px solid #eaeaea; }
.package-style-7 .col-xs-12:hover .price-plan { border-bottom: none;}

.socialmedia-block-style-4 .col-xs-12.padding-right-90,
.socialmedia-block-style-5 .col-xs-12.padding-right-90 { padding-right: 15px; }
.socialmedia-block-style-7 .no-padding-lr { padding-left: 15px !important; padding-right: 15px !important; }
.socialmedia-block-style-7 .no-padding-left { padding-left: 15px !important; }
.socialmedia-block-style-7 .no-padding-right { padding-right: 15px !important; }

/* shweta */
.md-header-style-4 .md-main-menu .margin-left-50 {margin-left: 0px;}
.md-header-style-4 .md-main-menu .margin-top-30 {margin-top: 30px;}
.md-header-style-6 .menuBar .navbar-nav li a{margin: 0 10px; font-size: 12px;}
.md-header-style-5 .menuBar{padding-bottom: 0;}
.md-header-style-5 .search-form-style-1{padding-top: 0; padding-bottom: 30px; padding-right: 15px;}
.md-header-style-5.header-position-fixed{position: relative !important;}
.md-header-style-5 .menuBar{padding-bottom: 0; width: 100%;}
.contactus-style-11 .md-class-full-content .pad-bottom-50{padding-bottom: 50px;}

/*j*/
.accordion-block .panel-title {font-size: 15px; line-height: 25px; min-height: 48px; padding: 10px 20px 10px 15px; position: relative;}
.accordion-block .panel-heading i, .accordion-block .panel-heading i:before { line-height: 25px; }
.accordion-block .panel-heading i, .accordion-block .panel-heading i {font-size: 20px; position: absolute; right: 10px; top: 50%; transform: translate(0,-50%); -webkit-transform: translate(0,-50%); -moz-transform: translate(0,-50%); -ms-transform: translate(0,-50%); line-height: 10px;}
.accordion-block .panel-default > .panel-heading + .panel-collapse > .panel-body { padding: 20px; }
.accordion-style2 .panel-title {padding: 20px 30px 20px 20px;position: relative;}
.accordion-style-3 { display: inline-block; width: 1005; height: 100%; }
.accordion-style-3 .height-class { height: auto !important; }

.tab-block .nav-tabs { display: inline-block; width: 100%; }
.tab-style-1 { display: inline-block; width: 100%; height: 100%; padding: 50px 0; }
.tab-style1 .nav-tabs li a { padding: 11.5px 17.5px; }
.tab-style2 .nav-tabs > li { width: 50%; }
.tab-style-2, .tab-style-3, .tab-style-4 {display: inline-block;width: 100%;padding: 50px 0;}
.tab-style4 .nav-tabs li a { padding: 19.5px; }
.tab-style5 .nav-tabs > li > a { padding: 10px 5px; }

.form-style-7 .no-padding-left { padding-left: 15px !important; }
.form-style-7 .no-padding-right { padding-right: 15px !important; }
.contact7-box {padding: 30px 0;}
.contact7-box .col-xs-12 > p,
.contactus-style-8 .col-xs-12 > p { padding: 0 15px; }

.cntct6-info {padding: 50px 0;}
.cntct6-info .padding-left-50 {padding-left: 15px;}
.cntct4-title:before { width: 0; height: 0; border: 0; }
.cntc-6-bg { height: auto !important; padding: 0; }

.event9-info { padding: 0 0 0 35px; }

/*New template element css*/
.text-title-style-9 .side-image-block { height: auto !important; }
.text-title-style-9 .col-xs-12.no-padding-right { padding-right: 15px; }

.gallery-style-8 .gallery-image { height: 250px; }
.text-title-style-11 .padding-lr-100 {padding: 0px 15px; }

.banner-style-19 .md-banner-image { width: 360px; height: 329px; }
.banner-style-19 .md-banner-content .banner-small-image-1 {width: 109px; height: 109px; top: -78px; right: -51px; }
.banner-style-19 .md-banner-image .banner-small-image-2 { bottom: -168px; right: 0;}

/*Css after version 1.3*/
.text-title-style-9 .side-image-block { height: auto !important; }
.side-image-block .img-rectangle, .side-image-block .behind-rectangle { width: 300px; height: 410px;}
.aboutus-style-11 .aboutus-content.padding-left-60 { padding-left: 0px; }
.side-image-block .behind-rectangle .small-img-caption:after { display: none;}

.services-style-17 .col-xs-12:nth-child(3) { clear: both;}
.services-style-17 .service-block { margin-bottom: 30px; }

.gallery-style-9 .md-gallery-grid .col-xs-6 { width: 100%; }

.banner-style-21 .banner-slider-style-6 .col-xs-12.padding-top-156 { padding-top: 66px; }
.banner-style-21 .banner-slider-style-6 .md-banner-content a { margin-bottom: 15px; }

.app-screenshot-style-1 .scrennshot-detail.padding-top-150 { padding-top: 0px; }

.accordion-style-4 .accordion-block .panel-heading i { position: static; transform: none; -webkit-transform: none; -moz-transform: none; -ms-transform: none; }
.accordion-style-4 .accordion-block .panel-default > .panel-heading + .panel-collapse > .panel-body { padding-left: 54px; }
}


@media (max-width: 767px) {
.card-style-1 .invitation-card { border-left: 2px solid rgb(67, 216, 245);border-right: 2px solid rgb(212, 91, 167);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-position: 0 0, 0 100% !important;background-repeat: no-repeat !important;-webkit-background-size: 100% 2px !important;-moz-background-size: 100% 2px !important;background-size: 100% 2px !important;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);background-image: -webkit-linear-gradient(left, #43d8f5 0%, #d45ba7 100%), -webkit-linear-gradient(left, #43d8f5 0%, #d45ba7 100%) !important;background-image: -moz-linear-gradient(left, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%), -moz-linear-gradient(left, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%) !important;background-image: -o-linear-gradient(left, #43d8f5 0%, #d45ba7 100%), -o-linear-gradient(left, #43d8f5 0%, #d45ba7 100%) !important;background-image: linear-gradient(to right, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%), linear-gradient(to right, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%) !important;-webkit-transition: 0.5s all;-moz-transition: 0.5s all;transition: 0.5s all;}
.card-style-1 .invitation-card h2 { padding-right: 10px; padding-left: 10px; }
.card-style-1 .invitation-card p { padding: 0 20px; }
.md-top-contact ul { text-align: center; margin-bottom: 5px; }
.md-top-contact form { right: 36%; bottom: auto;}
.aboutus-style-6 .md-about-us-image { margin: 30px auto; }
.upcoming-event-style-3 .upcoming-event-slider-style-3 .md-class-full-content .md-class-head .md-head-intro,
.upcoming-event-style-3 .upcoming-event-slider-style-3 .md-class-full-content .md-class-head .md-classes-readmore { margin: 0 auto; float: none; }
.upcoming-event-style-3 .upcoming-event-slider-style-3 .md-class-full-content .md-class-head .md-head-intro { margin-bottom: 10px; }
.product-shop-style-1 .md-single-product { margin-bottom: 25px; }
.blog-style-1 .md-blog-slides .md-blog-image { width: 350px; margin-bottom: 20px; }
.testimonial-style-4 .testimonial-nav-slider-style-4 .slick-list { margin: 0% 0% !important; }
.counter-style-2 .about-yoga-left-bg,
.blog-style-1 .blog-right-img-bg,
.newsletter-style-1 .newsletter-center-img-bg { background: none !important; width: 100%; display: inline-block; }
.blog-style-1 p.md-intro-text { padding-right: 0% !important; }
.blog-style-1 .md-blog-slides .md-blog-image { width: 300px; margin-left: auto; margin-right: auto; }
.blog-style-1 { text-align: center; }
.blog-style-1 .md-blog-author-detail { margin-left: auto; margin-right: auto; }
.blog-style-1 h2.border-title-style-1 { margin-right: auto !important; margin-left: auto !important; }
.counter-style-2 .col-xs-6:nth-of-type(3) { clear: both; }
.counter-style-2 .md-yoga-benifit { margin-bottom: 50px; }
.upcoming-event-style-3, 
.blog-style-1 .blog-right-img-bg { padding-bottom: 114px !important; }
.product-shop-style-1 .md-product-detail  .col-xs-12:last-of-type .md-single-product { margin-bottom: 0; }
.testimonial-style-4-with-multiple-img-nav.md-testimonial-section { padding-bottom: 144px !important; }
h2.border-title-style-1::after { bottom: -26px; }
.banner-style-4 .md-banner-content { width: 450px !important; }
.aboutus-style-5 .md-about-left { width: 400px; margin-right: auto; margin-left: auto; margin-bottom: 30px; }
.aboutus-style-5 .md-about-right { text-align: center; margin-left: 0; }
.aboutus-style-5 .flex-container { display: block !important; }
.package-style-3 .md-plan-detail .md-minimal-plan,
.package-style-3 .md-plan-detail .md-standard-plan,
.package-style-3 .md-plan-detail .md-ultimate-plan { width: 400px; margin-right: auto; margin-left: auto; margin-top: 0; }
.package-style-3 .md-plan-detail .md-minimal-plan,
.package-style-3 .md-plan-detail .md-standard-plan { margin-bottom: 30px; }
.footer-style-5 { text-align: center; }
.footer-style-5 hr { margin-right: auto; margin-left: auto; }
.footer-style-5 .md-newsletter-form .md-input { width: 300px; margin-right: auto; margin-left: auto; }
.footer-style-5 .md-footer-contact,
.footer-style-5 .md-footer-menu { margin-bottom: 30px; }
.contactus-style-3 { text-align: center; }
.team-style-4 .md-team-content .md-team-img { height: 350px !important; width: 350px; margin-right: auto; margin-left: auto; }
.team-style-4 .md-team-content .md-team-detail { margin-bottom: 30px; }
.team-style-4 .md-team-content .col-xs-12:last-of-type .md-team-detail { margin-bottom: 0; }
.aboutus-style-7 .md-story-left { margin-bottom: 60px; }
.upcoming-event-style-4 .event-detail .ceremony::before, 
.upcoming-event-style-4 .event-detail .ceremony::after, 
.upcoming-event-style-4 .event-detail .party::before, 
.upcoming-event-style-4 .event-detail .party::after { display: none;}
.upcoming-event-style-4 .event-detail .ceremony, 
.upcoming-event-style-4 .event-detail .reception,
.upcoming-event-style-4 .event-detail .party { width: 400px; margin: 0 auto 30px; }
.upcoming-event-style-4 .event-detail .party { margin-bottom: 0; }
.footer-style-7 .md-map,
.footer-style-7 .md-copyright { margin-bottom: 30px; }
.footer-style-7 .md-map { height: 500px; }
.footer-style-7 .flex-container { display: block; }
.card-style-1 .invitation-card .bride-groom-name { margin-bottom: 0; }
.card-style-1 .bride-groom-name { padding: 60px 0; }
.gallery-style-4 .gallery-image { width: calc(100% / 2); }
.banner-style-6 .md-banner-content { width: 350px !important; margin: 0 auto; text-align: center; }
.aboutus-style-4 .about-image { margin-left: auto; margin-right: auto; margin-bottom: 30px;  margin-top: 50px !important; }
.aboutus-style-4 .md-about-right,
.upcoming-event-style-2,
.team-style-3,
.portfolio-style-2,
.video-story-style-2,
.logoshowcase-style-3,
.footer-style-4 { text-align: center; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block { margin-right: auto; margin-left: auto; }
.gallery-style-4 .gallery-image { height: 350px; }
.blog-style-1-with-img-border.blog-section .blog-slider .blog-slides .blog-image { margin-right: auto; margin-left: auto; margin-bottom: 30px; margin-top: 50px; }
.blog-style-1-with-img-border.blog-section { text-align: center; }
.blog-style-1-with-img-border.blog-section .blog-content { text-align: center; margin-left: 0; }
.blog-style-1-with-img-border.blog-section .blog-content .blog-title,
.blog-style-1-with-img-border.blog-section .blog-content .blog-author { display: block; }
.socialmedia-block-style-1 .twitter-id { margin-bottom: 20px; }
.socialmedia-block-style-1 .user-tweet,
.socialmedia-block-style-1 span { text-align: center; }
.footer-style-4 hr { margin-right: auto; margin-left: auto; }
.footer-style-4 .footer-newsletter { margin-bottom: 30px; }
.footer-style-4 .footer-latest-news,
.footer-style-4 .footer-address-book { width: 350px; text-align: left; margin-right: auto; margin-left: auto; }
.footer-style-4 .container { display: inline-block; width: 100%; }
.upcoming-event-style-2 .upcoming-event-image { height: 320px; }
.video-story-style-2 a { margin-left: auto; margin-right: auto; }
.product-shop-style-2 .properties-space { padding: 0 20%; }
.call-to-action-style-3 .call-to-action-image { display: none; }
.team-style-2 .agent-image-block { margin-right: auto; margin-left: auto; }
.team-style-2 .agent-content-block { text-align: center; }
.team-style-2 .agent-social-block p { float: none; }
.floor-plan-style-1 .floor-plan-grid .floor-plan-image { margin-bottom: 30px; }
.floor-plan-style-1 .floor-plan-grid .floor-plan-detail { text-align: center; padding-left: 0px; }
.floor-plan-style-1 .floor-plan-grid .floor-plan-detail ul.floor-plan-features li { text-align: left; }
.contactus-style-3 .border-title-style-2::after { right: 0 !important; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 540px; }
.aboutus-style-2 .about-icon-content-block ul li:last-of-type p { margin-bottom: 0; }
.team-style-2 .col-xs-12:last-of-type .flex-container { margin-bottom: 0; }
.testimonial-style-2 .md-testimonial-slider { padding: 0% 0%; }
.banner-style-2 .md-banner-content .banner-content-image { display: none; }
.banner-style-1 .md-banner-content .banner-event-date-venue::before, 
.banner-style-1 .md-banner-content .banner-event-date-venue::after { display: none; }
.banner-style-1 .md-banner-content .line-left-right::before,
.banner-style-1 .md-banner-content .line-left-right::after { display: none; }
.team-style-3 .team-slider-style-3 .speaker-slides .speaker-image, 
.blog-style-4 .blog-slide .blog-image { width: 300px; margin-bottom: 30px; margin-right: auto; margin-left: auto; }
.aboutus-style-3 .md-about-left { text-align: center; margin-bottom: 30px; }
.blog-style-4,
.blog-style-4 .blog-content { text-align: center; }
.contactus-style-2 .md-map { height: 400px; }
.footer-style-3 .md-newsletter-form input[type="email"] { width: 100%; margin-bottom: 30px; margin-right: 0; }
.upcoming-event-style-1 .upcoming-event-slide .event-detail-block .left-event-time { display: none; }
.upcoming-event-style-1 .event-detail-content .outer-triangle { display: none; }
.blog-style-4 .blog-slide .col-xs-12:last-of-type { margin-bottom: 0; }
.team-slider-style-3 .flex-container { display: block !important; }
.team-slider-style-3 .speaker-content p { padding-right: 0 !important; }
.upcoming-event-style-1 .upcoming-event-for-slider-style-1 .event-detail-content { padding: 30px 30px 10px; }
.upcoming-event-slide { display: inline-block; width: 100%; }
.upcoming-event-style-1 .upcoming-event-for-slider { height: auto; }
.services-style-1 { background-color: #001a53 !important; background-image: none !important; }
.aboutus-style-1 { background-image: none !important; }
.portfolio-style-1 .intro-text { padding-bottom: 0; }
.work-introduction-style-1 .vision-mission-container { margin-bottom: 45px; }
.team-style-1{ padding-top: 50px; }
.testimonial-style-1 { text-align: center; }
.testimonial-style-1 .md-testimonial-slider .img-round-340 { margin-bottom: 30px; }
.contactus-style-1 .md-contact-form-section { margin-bottom: 35px; }
.banner-style-5 .md-banner-content p { padding: 0 5%; }
.newsletter-style-1 .md-newsletter-form input[type="email"] { width: 100%; margin-bottom: 30px; }
.team-style-1.md-team { padding-top: 60px; }
.team-slider-style-1 .md-team-img { height: 350px; }
.arrow-style-1 .slick-prev.slick-arrow { left: 40%; }
.arrow-style-1 .slick-next.slick-arrow { right: 39%; }
.md-testimonial-for-slider.arrow-style-1 .slick-prev.slick-arrow { left: 40% !important; }
.md-testimonial-for-slider.arrow-style-1 .slick-next.slick-arrow { right: 39% !important; }
.banner-arrow-style-1 .slick-arrow { top: 70%; }
.banner-arrow-style-1 .slick-next.slick-arrow { right: 40%; }
.banner-arrow-style-1 .slick-prev.slick-arrow { left: 40%; }
.dot-style-1.position-left-dot .slick-dots { position: static; }
.md-footer-menu .horizontal-footer-menu a { padding: 0px 10px; font-size: 13px !important; }
.ionicon-humor-bg { font-size: 150px !important; }
.padding-lr-180 { padding: 0 30px; }
.padding-100 { padding: 40px 0; }
.margin-bottom-44 { margin-bottom: 24px; }
.md-newsletter-form.news-letter-style-2 { width: 350px; margin-right: auto; margin-left: auto; }
.md-newsletter-form.news-letter-style-2 .md-form-submit { right: 31px; }
.md-newsletter-form.news-letter-style-1 input[type="email"] { width: 400px; }
.form-for-search { text-align: center; }
#md-header .col-xs-12 { position: static; }
.navbar-toggle { z-index: 6 !important; top: 33px; }
.collapsing { -webkit-transition: none; transition: none; -webkit-transition-delay: 0s; transition-delay: 0s; }
.md-logo-navbar { padding-bottom: 30px; }
.menuBar { padding: 0px; width: 100%; float: left; position: absolute; top: 0px; right: 15px; }
.menuBar nav .navbar-collapse {-webkit-box-shadow: none; box-shadow: none; position: absolute; width: 100%; height: 100vh !important; background: rgba(0, 0, 0, 0.9); top: 0px; left: 15px; text-align: center; padding: 80px 0px 50px; display: block; opacity: 0; visibility: hidden; transition: 0.3s all linear; -webkit-transition: 0.3s all linear; -webkit-transition-delay: 0s; transition-delay: 0s;}
.menuBar nav .navbar-collapse.in { opacity: 1; visibility: visible; }
.menuBar .navbar-nav li { display: block; padding: 0; margin-bottom: 10px; }
.menuBar .navbar-nav li a { padding: 0 !important; font-size: 26px; font-weight: 600; display: table; margin: 0 auto; line-height: normal; }
.menuBar .navbar-nav { margin: 0; height: 100vh; width: 100%; }
.md-site-header.header-position-fixed { position: absolute !important; }
.gradient-menu .menuBar nav .navbar-collapse { background: rgba(163, 64, 255, 0.88); }
.gradient-menu.header-position-fixed .md-logo-navbar,
.black-transparent.header-position-fixed .md-logo-navbar,
.light-blue-heena-green-menu.header-position-fixed .md-logo-navbar,
.white-orange-menu.header-position-fixed .md-logo-navbar { background-color: transparent !important; background: transparent !important; }
.light-blue-heena-green-menu .navbar-default .navbar-toggle .icon-bar,
.gradient-menu .navbar-default .navbar-toggle .icon-bar,
.black-transparent .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.white-orange-menu .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 132, 27); }
.bluish-gray-black-menu .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 58, 81); }
.black-and-pink-menu .navbar-default .navbar-toggle .icon-bar { background-color: rgb(210, 85, 115); } 
.bluish-gray-black-menu .menuBar .navbar-nav li a:hover, 
.bluish-gray-black-menu .menuBar .navbar-nav li a:active, 
.bluish-gray-black-menu .menuBar .navbar-nav li a:focus, 
.bluish-gray-black-menu .menuBar .navbar-nav li.active a { color: rgb(255, 58, 81) !important; }
.black-and-pink-menu .menuBar .navbar-nav li a { color: #FFF; }
.md-header-style-2 .navbar-default .navbar-toggle .icon-bar { background-color: rgb(103, 103, 103); }
.md-header-style-2 .menuBar { padding: 0;  border-top: none; }
.md-header-style-2 .md-theme-logo { padding: 29px 0px 0px; float: left; text-align: left; }
.counter-section .col-xs-6:nth-of-type(3) { clear: both; }
.counter-section .col-xs-6 { margin-bottom: 30px; }
.counter-section .col-xs-6:nth-last-child(1),
.counter-section .col-xs-6:nth-last-child(2) { margin-bottom: 0; }
.md-footer-logo img { max-width: 120px; }
.gallery-style-1 .md-gallery-space.padding-lr-63 { padding: 0px 30px; }
.tab-style-1 .button { margin-bottom: 10px; }
.md-footer-menu .vertical-menu li a { margin-right: auto; margin-left: auto; }
.back-to-top { bottom: 35px !important; }

/* New header css element css by Mansi */
.md-header-style-8 .md-theme-logo { text-align: left; margin-left: 0 !important; }
.md-header-style-8 .menuBar .navbar-nav > li a:after { display: none; }
.md-header-style-8 .menuBar .navbar-nav li:last-child > a { padding-right: 0px !important; }
.md-header-style-8 .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.md-header-style-8 .navbar-toggle { top: 23px; }

.md-header-style-3 .md-main-menu{text-align: center;}
.md-header-style-3 .md-theme-logo{margin: 0 auto 30px; text-align: center;}
.md-header-style-3 .md-theme-logo{margin: 0 auto 30px; text-align: center;}
.md-header-style-3 .navbar-default .navbar-toggle .icon-bar{background-color: rgb(103, 103, 103);}

.md-header-style-4 .md-main-menu .menuBar nav .navbar-collapse{z-index: 2;}
.md-header-style-4 .navbar-default .navbar-toggle .icon-bar{background-color: rgb(103, 103, 103);}
.md-site-header { position: absolute;}

.md-header-style-5{position: relative !important ;}
.md-header-style-5 .navbar-default .navbar-toggle .icon-bar{background-color: rgb(103, 103, 103);}
.md-header-style-5.header-position-fixed{position: relative !important;}
.md-header-style-5 .menuBar .navbar-nav li a{margin: 0 auto;}
.md-header-style-5 .navbar-header{padding-right: 10px;}
.md-header-style-5 .menuBar{padding-bottom: 0; width: 100%; z-index: 1;}
.md-header-style-5 .search-form-style-1{padding-top: 0; padding-bottom: 10px; padding-right: 0;}

.md-header-style-6 .menuBar{padding: 0;}
.md-header-style-6 .md-theme-logo{padding: 25px 0;}
.md-header-style-6 .social-media-icons{display: none;}
.md-header-style-6 .md-main-menu a.btn-small{float: left;}
.md-header-style-6 .md-main-menu{padding-top: 0;}
.md-header-style-6 .md-main-menu .md-contact-form-section{position: absolute; top: 65px; right: 15px; width: 40%;}
.md-header-style-6 .menuBar .navbar-nav li a{ padding: 0!important; font-size: 26px; font-weight: 600; display: table; margin: 0 auto; }
.md-header-style-6 .md-main-menu ul li:first-child a{ margin: auto; }
.md-header-style-6 .md-main-menu .collapse.in{ z-index: 2; }
.md-header-style-6 .navbar-default .navbar-toggle .icon-bar{ background-color: rgb(103, 103, 103); }
body.responsive-layout .md-header-style-5 .form-style-1.search-form-style-1 input[type="text"] { z-index: 0; }

/*Css given by mansi from 1st nov 2017*/
/*j*/
.md-header-style-6 .menubar-searchbar-main { border-top: 0; }

/*Css given by mansi from 1st nov 2017*/
.scroll-fade-image  { display: none;}
.banner-style-2.md-header-banner .banner-slider-style-2 .jumbotron { padding-bottom: 200px !important; }

.banner-style-14 .banner-slider-style-3 .banner-slide .md-banner-content { padding-top: 190px; padding-bottom: 190px; }
.dot-style-4.position-left-dot .slick-dots { top: 560px; }
.banner-style-15 .banner-slider-style-4 .slick-dots { bottom: 130px; }

.banner-style-17 { text-align: center; }
.banner-style-17 .banner-slider-style-6 .banner-content-image { height: 360px; }
.banner-style-17 .banner-slider-style-6 .banner-content-image img { float: none; margin: auto; }
.banner-style-17 .banner-slider-style-6 .md-banner-content h1.text-extra-large-65 { font-size: 40px !important; padding: 0 20px;}

.banner-style-18 { text-align: center; padding-bottom: 70px; }
.banner-style-18 .banner-slider-style-3 .banner-content-image img { float: none; margin: auto; }
.banner-style-18 .dot-style-4.position-left-dot .slick-dots { top: 103%; }
.banner-style-18 .banner-slider-style-3 .slick-slide .banner-content-image { margin-bottom: 30px; }
.banner-style-18 .banner-slider-style-3 .slick-slide .banner-content-image.right-image { margin-top: 30px; }
.banner-style-18 .banner-slider-style-3 .slick-slide .banner-image-caption { -webkit-transform: rotate(0deg) translateY(0%); transform: rotate(0deg) translateY(0%); }
.banner-style-18 .banner-slider-style-3 .slick-slide .right-image .banner-image-caption { right: 0; }
.banner-style-18 .banner-slider-style-3 .slick-slide .banner-image-caption { left: auto; top: auto; bottom: 0; right: 0; }

.logoshowcase-style-4 .col-xs-6:nth-last-child(odd) { border-right: 0px; }
.logoshowcase-style-4 .logo-image { padding: 40px; }
.logoshowcase-style-4 .logo-image img { max-width: 50%; }
.logoshowcase-style-4 .col-xs-6:nth-last-child(3), 
.logoshowcase-style-4 .col-xs-6:nth-last-child(4) { border-bottom: 1px solid #eaeaea; }

.gallery-style-5 .gallery-image.short-image { height: 273px; }
.gallery-style-5 .gallery-image img { width: 100%; }

.footer-style-8,
.footer-style-9 { text-align: center;}
.footer-style-8 .footer-services-list li a,
.footer-style-8 .vertical-menu li a,
.footer-style-9 .footer-services-list li a,
.footer-style-9 .vertical-menu li a,
.footer-style-9 .address-email-list li a { margin-left: auto; margin-right: auto; }
.footer-style-8 .md-newsletter-form { display: table; margin: 0 auto; }

.footer-style-10 .footer-logo-img.text-align-left,
.footer-style-10 .social-media-icons.text-align-right,
.footer-style-11 .footer-logo-img.text-align-left,
.footer-style-11 .social-media-icons.text-align-right,
.footer-style-12 .footer-logo-img.text-align-left,
.footer-style-12 .social-media-icons.text-align-right { text-align: center;}
.footer-style-10 .footer-logo-img,
.footer-style-10 .md-copyright,
.footer-style-11 .footer-logo-img,
.footer-style-11 .md-copyright,
.footer-style-12 .footer-logo-img,
.footer-style-12 .md-copyright { margin-bottom: 15px; }

.footer-style-16 .horizontal-footer-menu.text-align-left,
.footer-style-16 .social-media-icons.text-align-right { text-align: center;}
.footer-style-16 .horizontal-footer-menu,
.footer-style-16 .md-copyright { margin-bottom: 15px; }

.popOver + .tooltip > .tooltip-arrow { bottom: -5px; }

.aboutus-style-8 h5 { margin-bottom: 30px; }

/* New header css element css by Mansi */
.md-header-style-8 .md-theme-logo { text-align: left; margin-left: 0 !important; }
.md-header-style-8 .menuBar .navbar-nav > li a:after { display: none; }
.md-header-style-8 .menuBar .navbar-nav li:last-child > a { padding-right: 0px !important; }
.md-header-style-8 .navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255); }
.md-header-style-8 .navbar-toggle { top: 23px; }
/*CSS given by mansi for new elements*/
.testimonial-slider-style-9 .testimonial-slide { text-align: center; }
.testimonial-slider-style-9 .testimonial-slide .testimonial-content { padding-left: 0; }
.testimonial-slider-style-9 .testimonial-slide .testimonial-content p { padding-top: 25px; }
.testimonial-slider-style-9 .testimonial-slide .testimonial-content p:before { left: 50%; top: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

/*new element design by Mansi*/
.services-style-9 .col-xs-6:nth-last-child(even) { clear: both; }

.services-style-10 .col-xs-12.no-padding-left { padding-left: 15px !important; }
.services-style-10 .height-class { height: auto !important; }
.services-style-10 .services-image { height: 400px; }

.services-style-11 .services-image { display: none; }
.services-style-11 .height-class,
.team-style-8 .team-slider-style-8 .height-class { height: auto !important; }

.team-style-8 .team-slider-style-8 .md-team-img { margin-left: auto; margin-right: auto; position: relative; }
.team-style-8 .team-slider-style-8 .md-team-img.padding-top-100 { padding-top: 50px; }
.team-style-8 .team-slider-style-8 .md-team-detail.padding-top-193 { padding-top: 50px; }
.arrow-style-4 .slick-prev.slick-arrow { left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin-left: -30px; }
.arrow-style-4 .slick-next.slick-arrow { right: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); margin-right: -90px; }

.call-to-action-style-9 .height-class { height: auto !important; }
.img-round-347 { height: 280px; width: 280px; }

.video-story-style-3 iframe { height: 350px; }

.video-story-style-5-container iframe { height: 300px; }
.video-story-style-5-container .video-frame { top: -150px; }

.counter-style-4 .col-xs-6:nth-last-child(odd),
.counter-style-5 .col-xs-6:nth-last-child(odd),
.counter-style-7 .col-xs-6:nth-last-child(odd) { border-right: none; }
.counter-style-8.counter-section .col-xs-6,
.counter-style-9.counter-section .col-xs-6 { margin-bottom: 0px; }

.blog-style-8 .blog-slider-style-8 .blog-block { opacity: 1; }
.blog-style-8 .blog-slider-style-8 .blog-block .blog-image { height: 300px; }

.md-header-style-4 .md-main-menu .bg-dark-orange{margin-top: 26px; margin-bottom: 0px; float: right; margin-right: 60px;}
.md-header-style-4 .md-main-menu a.btn-small{position: absolute; top: 0; right: 0; z-index: 1;}

.md-header-style-6 .menuBar{padding: 0;}
.md-header-style-6 .md-theme-logo{padding: 25px 0;}
.md-header-style-6 .social-media-icons{display: none;}
.md-header-style-6 .md-main-menu a.btn-small{float: left;}
.md-header-style-6 .md-main-menu{padding-top: 0;}
.md-header-style-6 .md-main-menu .md-contact-form-section{position: absolute; top: 65px; right: 15px; width: 40%;}
.md-header-style-6 .menuBar .navbar-nav li a{padding: 0!important; font-size: 26px; font-weight: 600; display: table; margin: 0 auto;}
.md-header-style-6 .md-main-menu ul li:first-child a{margin: auto;}
.md-header-style-6 .md-main-menu .collapse.in{z-index: 1;}
.md-header-style-6 .navbar-default .navbar-toggle .icon-bar{background-color: rgb(103, 103, 103);}

.news-letter-form{width: 100%; float: left;}

.contactus-style-7 .news-letter-form{padding-right: 15px; padding-left: 15px;}
.contactus-style-7.padding-tb-140{padding-top: 100px; padding-bottom: 100px;}

.contactus-style-10 .md-class-full-content .md-about-right{display: none;}
.contactus-style-10 .md-class-full-content .pad-bottom-50{ padding-bottom: 50px; padding-top: 50px;}
.contactus-style-10 .newsletter-style-1 .md-newsletter-form input[type="email"]{margin-bottom: 0px;}
.contactus-style-10 .md-class-full-content .text-large-40{font-size: 32px; line-height: 38px;}

.contactus-style-11 .md-class-full-content .md-about-right{display: none;}
.contactus-style-11 .md-class-full-content .pad-bottom-50{padding-bottom: 50px;}

.contactus-style-8.work-introduction-style-1 .container.vision-mission-container { position: relative; bottom: 0; }
.contactus-style-8.work-introduction-style-1 p { margin-bottom: 30px; }
.contactus-style-8 { margin-bottom: 0; padding-bottom: 40px !important; }


/*j*/
.tab-style5 .nav-tabs > li { width: 100%; }
.tab-style5 .nav-tabs > li > a { border-right: 0; border-bottom: 1px solid; }
.tab-style5 .tab-content .tab-pane h5 {margin-bottom: 15px;}

.form-section-4 { padding-bottom: 40px; }

.search-block-style-3 {background-image: none !important;background-color: #f5f5fa;padding: 50px 0;}

.contactus-style-9 { padding: 50px 0 30px; }

/*New template element css*/
.gallery-style-8 .gallery-image { height: 200px; }
.text-title-style-10 .side-image-block { margin-top: 30px; }
.tab-style-5 .button { border-radius: 15px; padding: 7px 10px 5px;}

.banner-style-19 { text-align: center; padding-top: 173px; }
.banner-style-19 .md-banner-content .banner-small-image-1,
.banner-style-19 .md-banner-image .banner-small-image-2 { display: none; }
.banner-style-19 .md-banner-image { margin: 60px auto 0px; }
.banner-style-19 .md-banner-content p.padding-right-70 { padding: 0px 120px; }

.services-style-5.services-style5-with-image .services-content-block,
.services-style-5.services-style5-with-image .services-content-block h2.text-align-right { text-align: center; }

/*Css aftter cersion 1.3*/
.banner-style-20 .md-color-overlay.opacity-0 { opacity: 0.5; }
.banner-style-20 .col-xs-12 { background-image: none !important; }
.banner-style-20 .md-banner-content p { padding: 0px 120px; }
.aboutus-style-11 .side-image-block { margin-bottom:90px; }
.side-image-block .img-rectangle { margin: 0 auto; }
.side-image-block .behind-rectangle { left: 50%; -webkit-transform: translateX(-60%); transform: translateX(-60%); }

.services-style-12 .service-box { padding-right: 30px; padding-left: 30px; }

.banner-style-21 .banner-slider-style-6 .banner-image { height: 300px; }
.banner-style-21 .banner-slider-style-6 .banner-image img { height: 100%; }
.banner-style-21 .banner-slider-style-6 .col-xs-12.padding-top-156 { padding-top: 30px; }
.banner-style-21 { padding-bottom: 100px; text-align: center; }
.banner-style-21 .slick-dots { top: 0; left: 0;}
.banner-style-21 .banner-slider-style-6 .md-banner-content a { float: none; }

.services-style-16 p.padding-lr-200 { padding: 0px 15px; }

.header-position-fixed .menuBar { padding: 0px; }
.header-position-fixed .md-theme-logo { padding-top: 28px; }
.banner-style-14.margin-top-92 { margin-top: 90px; }
}

@media (max-width: 560px) {
.map-style-1 { height: 320px; }
.md-top-contact form { right: 31%; }
.banner-style-7 .md-banner-content { width: 100%; float: none; margin: 0 auto; }
.banner-style-7 .md-banner-content .md-banner-content-with-bg { right: 0; }
.banner-style-7 .md-banner-content .md-bannertext-img { width: 220px; }
.team-style-3 .artist-image-block { height: 400px; width: 330px; margin-right: auto; margin-left: auto; }
.banner-style-2 .md-banner-content .banner-content-image { width: 340px; height: 300px; }
.aboutus-style-2 .md-about-left .icon-content .about-content { padding-left: 25px; }
.aboutus-style-2 .md-about-left .about-content h5.margin-bottom-30 { margin-bottom: 10px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 400px; }
.product-shop-style-2 .properties-space { padding: 0 5%; }
.product-shop-style-2 .properties-space { padding: 0 10%; }
.product-shop-style-2 .properties-container .property-box .property-detail { padding-top: 20px; }
.gallery-style-3 .gallery.padding-lr-180 { padding: 0px 15px; }
.package-style-2 .col-xs-12 .price-plan { width: 300px; }
.time_circles .time-span-number { font-size: 18px !important; }
.time_circles .time-span-word { font-size: 12px !important; }
.hexagonal-rounded-edge { margin-right: 25px; margin-left: 25px; margin-bottom: 60px; }
.margin-bottom-250 { margin-bottom: 50px; }
.padding-lr-180 { padding: 0 20px; }
.padding-lr-70 { padding: 0px 20px; }
.padding-lr-30 { padding: 0px 15px; }
.ionicon-humor-bg { font-size: 100px !important; }
.tab-style-1.round-border-tab .button { margin-bottom: 10px; }
.md-newsletter-form.news-letter-style-1 input[type="email"] { margin-bottom: 30px; margin-right: 0; }
.md-logoshowcase-section .logo-image { width: 200px; }
.vision-mission-container .col-xs-6 { width: 100%; }
.vision-mission-container .mission-block { border-left: none; border-top: 1px solid rgb(224, 224, 224); }
.banner-arrow-style-1 .slick-arrow { width: 40px; height: 40px; }
.banner-arrow-style-1 .slick-prev.slick-arrow { left: 35%; }
.banner-arrow-style-1 .slick-next.slick-arrow { right: 35%; }

.banner-style-18 .banner-slider-style-3 .banner-content-image { height: 350px; }

/*new element design by Mansi*/
.services-style-9 .col-xs-6 { width: 100%; }
.video-story-style-6 .col-xs-6 { width: 100%; }
.video-story-style-6 h2 { padding-right: 0; }
.contactus-style-12 .md-contct-form { width: 300px; }

.blog-style-7 .blog-slider-style-7 .blog-block { text-align: center; }

.socialmedia-block-style-7 .col-xs-6 { width: 100%; }

/* Shweta */
.news-letter-form .need-info{width: 100%; text-align: center;}
.news-letter-form{padding-top: 20px; padding-bottom: 25px;}
.news-letter-form .email-form{width: 100%; text-align: center; margin-top: 20px;}
.news-letter-form .email-form .form-style-1{display: inline-block; width: 80%; position: relative;}
.news-letter-form .form-style-1 button{right: 0px;}

.contactus-style-11 .md-class-full-content input.full-width-100{margin-top: 15px; width: 100%; position: static;}
.contactus-style-11 .newsletter-style-1 .md-newsletter-form input[type="email"]{margin-bottom: 0; height: 50px; padding-right: 20px;}


/*j*/
.tab-style1 .nav-tabs li, .tab-style2 .nav-tabs > li, .tab-style3 .nav-tabs li, .tab-style4 .nav-tabs li { width: 100%; }
.tab-style1 .tab-content h3, .tab-style2 .tab-content .tab-pane img { margin-bottom: 15px; }

.form-style-10 .md-text { width: 100%; margin: 15px 0; }
.form-style-10 .md-select, .form-style-10 .md-form-submit { width: 100%; }
.form-style-10 .md-text input[type="text"], .form-style-10 .md-select select { border-radius: 4px; }

.search-form-div { padding: 25px 15px; }

.upcoming-event-style-7 .info-p { padding: 0; }
.event7-stylebox li, .event7-stylebox li + li { margin: 5px 10px; }

.event9-box .event9-date { float: none; }
.event9-box .event9-info  { padding: 20px 0 0 0; }
.upcoming-event-style-8 .padding-tb-90-100 {padding: 40px 15px;}

/*New template element css*/
.gallery-style-8 .gallery-image { width: calc(100% / 2); }

.sign-up-style-1 h2.padding-lr-60,
.pricing-table-style-9 p.padding-lr-60,
.team-style-11 p.padding-lr-60 { padding: 0px 0px; }

.banner-style-19 .md-banner-content p.padding-right-70 { padding: 0px 0px; }
.banner-style-19 .md-banner-image { width: 100%; height: 100%; }
.services-style-5.services-style5-with-image .col-xs-6 { width: 100%; }

/*CSS after version 1.3*/
.banner-style-20 .md-banner-content p { padding: 0px 0px; }
}

@media (max-width: 480px) {
.width-calc-100 { width: 100%; }
.package-style-1 .md-package-detail .col-xs-12 { width: 100%; }
.md-top-contact form { right: 28%; }
.blog-style-1 .md-blog-slides .md-blog-image { width: 100%; }
.banner-style-3 .md-banner-content { width: 100% !important; }
.banner-style-3 .md-banner-content p { padding: 0px 0px; }
.md-intro-text { padding: 0 0%; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-prev.slick-arrow { left: 29% !important; }
.testimonial-for-slider-style-4.arrow-style-1 .slick-next.slick-arrow { right: 30% !important; }
.md-top-contact ul li { padding-right: 20px; }
.footer-style-7 .md-map { height: 300px; }
.upcoming-event-style-4 .event-detail .ceremony, 
.upcoming-event-style-4 .event-detail .reception, 
.upcoming-event-style-4 .event-detail .party { width: 100%; }
.banner-style-7 .md-banner-content .md-banner-content-with-bg { background-image: none !important; padding: 10% 0%; background-color: rgba(255, 255, 255, 0.5) !important;border-left: 2px solid rgb(67, 216, 245);border-right: 2px solid rgb(212, 91, 167);-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-position: 0 0, 0 100% !important;background-repeat: no-repeat !important;-webkit-background-size: 100% 2px !important;-moz-background-size: 100% 2px !important;background-size: 100% 2px !important;background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);background-image: -webkit-linear-gradient(left, #43d8f5 0%, #d45ba7 100%), -webkit-linear-gradient(left, #43d8f5 0%, #d45ba7 100%) !important;background-image: -moz-linear-gradient(left, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%), -moz-linear-gradient(left, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%) !important;background-image: -o-linear-gradient(left, #43d8f5 0%, #d45ba7 100%), -o-linear-gradient(left, #43d8f5 0%, #d45ba7 100%) !important;background-image: linear-gradient(to right, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%), linear-gradient(to right, rgb(67, 216, 245) 0%, rgb(212, 91, 167) 100%) !important;}
.banner-style-7 .md-banner-content .md-banner-content-with-bg p { padding: 0 10px; }
.banner-style-6 .md-banner-content { width: 100%!important; }
.upcoming-event-style-2 .upcoming-event-image { width: 100%; height: 230px; }
.upcoming-event-style-2 .image-behind-border { height: 180px; right: 135px; width: 130px; top: 7px; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block { height: 200px; width: 200px; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block .album-disc-image { width: 160px; height: 160px; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block:hover .album-disc-image { right: -70px; }
.blog-slider-style-4 .blog-slides .blog-image, 
.blog-slider-style-4 .blog-slides .blog-image .image-behind-border { height: 250px !important; width: 180px !important; }
.aboutus-style-4 .about-image, 
.aboutus-style-4 .image-behind-border { height: 290px !important; width: 200px !important; }
.gallery-style-4 .gallery-image { height: 260px; }
.footer-style-4 .footer-latest-news, 
.footer-style-4 .footer-address-book { width: 100%; }
.testimonial-style-3 .md-testimonial-slider { padding: 0% 0%; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 330px; }
.banner-style-2 .md-banner-content .banner-content-image { display: none; }
.product-shop-style-2 .properties-space { padding: 0 0%; }
.aboutus-style-2 .icon-content.padding-lr-70{ padding: 0px 10px; }
.aboutus-style-2 .md-about-left .icon-content .about-content { padding-left: 15px; }
.banner-style-1 a:nth-of-type(1) { margin-bottom: 15px; width: 160px; display: block; margin-right: auto; margin-left: auto; }
.banner-style-1 { padding-top: 20%; }
.banner-style-1 .banner-event-date-venue,
.banner-style-1 h1,
.banner-style-1 h1 > span { margin-bottom: 10px !important; }
.upcoming-event-style-1 .event-time-speaker-detail .event-detail-button span { display: block; width: 130px; margin: 0 auto 10px; }
.upcoming-event-style-1 .event-time-speaker-detail .event-detail-button a {  margin: 0 auto 20px; }
.hexagonal-rounded-edge { margin-bottom: 70px; }
.hexagonal-rounded-edge:nth-last-child(1),
.hexagonal-rounded-edge:nth-last-child(2) { margin-bottom: 0; }
.package-style-2 .col-xs-12 .price-plan { width: 100%; }
.newsletter-style-1 .md-newsletter-form input[type="email"] { width: 100%; margin-right: 0; margin-bottom: 20px; }
.services-style-2 .md-all-services .col-xs-6 { width: 100%; }
.services-style-2 .md-all-services .col-xs-6:last-of-type { margin-bottom: 0; }
.banner-style-4 .md-banner-content { width: 100% !important;; }
.aboutus-style-5 .md-about-left { width: 100%; }
.footer-style-5 .md-newsletter-form .md-input { width: 100%; }
.services-style-2 .md-services-individual { width: 100%; }
.package-style-3 .md-plan-detail .md-minimal-plan, 
.package-style-3 .md-plan-detail .md-standard-plan, 
.package-style-3 .md-plan-detail .md-ultimate-plan { width: 100%; }
.package-style-3 .md-plan-detail .no-padding { padding: 0px 15px !important; }
.testimonial-style-3 .md-testimonial-slide p { padding: 0 15px !important; }
.team-style-4 .md-team-content .md-team-img { width: 100%; }
.time_circles .circle-content { top: 46% !important; }
.time_circles .time-span-number { font-size: 16px !important; }
.time_circles .time-span-word { font-size: 10px !important; }
.md-logoshowcase-section .logo-image { width: 100%; }
.simple-time-counter .counter-day-number { font-size: 28px; }
.simple-time-counter .counter-words { margin-top: -15px; }
.arrow-style-1 .slick-prev.slick-arrow { left: 32%; }
.arrow-style-1 .slick-next.slick-arrow { right: 31%; }
.text-extra-large-90 { font-size: 35px !important; line-height: 35px; }
.text-extra-large-65 { font-size: 40px !important; line-height: 45px; }
.text-large-45 { font-size: 35px; line-height: 40px; }
.text-medium-35 { font-size: 30px; line-height: 40px; }
.text-medium-22 { font-size: 16px; }
.ionicon-humor-bg { font-size: 80px !important; }
.md-footer-menu .horizontal-footer-menu li { width: 100%; margin-bottom: 15px; }
.tab-style-1 .button { margin-bottom: 10px; }
.gallery-style-1 .md-gallery-space.padding-lr-63 { padding: 0px 10px; }
.gallery-style-1 .md-gallery-space .col-xs-6 { width: 100%; }
.gallery-style-1 .md-gImgpath.odd-line, 
.gallery-style-1 .md-gImgpath.even-line { width: 100%; }

.md-header-style-3 .md-main-menu .margin-right-50{ margin-right: 0; width: 100%; margin-bottom: 10px; }

/*Css given by mansi from 1st nov 2017*/
.banner-style-14 .md-banner-content a.btn { display: table; margin: 0 auto 15px; }
.banner-style-14 .col-xs-12 { padding: 20px; }
.banner-style-14 .banner-slider-style-3 .banner-slide .md-banner-content { padding-top: 150px; padding-bottom: 150px; }
.banner-style-15 .banner-slider-style-4 .md-banner-content { display: block;}

.arrow-style-6 .slick-arrow .icon { font-size: 28px; vertical-align: middle;}
.arrow-style-6 .slick-arrow { width: 30px; height: 30px; }

.logoshowcase-style-4 .logo-image { padding: 0px; }
.logoshowcase-style-4 .logo-image img { max-width: 70%; }

.gallery-style-5 .col-xs-6,
.gallery-style-6 .col-xs-6 { width: 100%; }
.gallery-style-5 .col-xs-6:first-child { height: auto !important; }
.gallery-style-5 .gallery-content p { margin-bottom: 30px !important; }
.footer-style-16 .md-footer-menu .horizontal-footer-menu li { width: auto; }

.aboutus-style-10 span.small-caption:before,
.aboutus-style-10 span.small-caption:after { display: none; }

/*new element css given by Mansi*/
.services-style-5 .col-xs-6 { width: 100%; }
.services-slider-style-7 .individual-service { text-align: center; }
.services-slider-style-7 .individual-service .service-icon,
.services-slider-style-7 .individual-service hr { margin-right: auto; margin-left: auto; }

.services-style-8 .col-xs-6 { width: 100%; border-right: 0; }

.services-style-8 .col-xs-6:nth-last-child(2) { border-bottom: 1px solid #e5e5e5; }
.team-style-9 .col-xs-12 .team-block .col-xs-6 { width: 100%; }

.call-to-action-style-10 a { margin-bottom: 10px; }

.video-story-style-5-container .video-frame { top: -90px; }

.package-style-4 .md-plan-detail .md-plan-top p.padding-lr-45 { padding: 0px 15px; }

.socialmedia-block-style-3 .col-xs-6,
.socialmedia-block-style-4 .col-xs-6,
.socialmedia-block-style-5 .col-xs-6 { width: 100%; }

/* shweta */
.md-header-style-3 .md-main-menu .margin-right-50{margin-right: 0; width: 100%;}

/* New template element css */
.team-style-11 .col-xs-6 { width: 100%; }

.banner-style-19 .md-banner-content a.margin-right-20 { margin: 0px auto 20px; display: table; }

/*Css after version 1.3*/
.side-image-block .img-rectangle, 
.side-image-block .behind-rectangle { width: 250px; height: 320px;}
.side-image-block .behind-rectangle { -webkit-transform: translateX(-58%); transform: translateX(-58%); }

.services-style-12 .col-xs-6 { width: 100%; }

.banner-style-21 .banner-slider-style-6 .md-banner-content a { display: block; margin-right: 0 !important; }
.banner-style-21 .banner-slider-style-6 .md-banner-content a img { margin: auto; }

.blog-style-10 .blog-image { height: 300px; }
.domain-search-block .domain-price ul.domain-price-list li.margin-right-50 { margin-right: 20px; margin-bottom: 10px; }
}

@media screen and (max-width: 360px) {
.md-top-contact form { right: 20%; }
.package-style-1 .md-premium-package .md-package-newoffer { -webkit-transform: rotate(-45deg) translate(-108px, -60px) !important; transform: rotate(-45deg) translate(-108px, -60px) !important; }
.aboutus-style-5 .md-about-left .md-about-img { height: 310px; }
.services-style-2 .md-services-individual { height: 350px; }
.instagram-style-1 .md-insta-gallery { height: 350px; }
.aboutus-style-7 .md-story-img { height: 280px; width: 280px; }
.aboutus-style-7 .md-story-img .image-overlay-border { height: 320px; width: 278px; left: 10px; }
.card-style-1 .bride-groom-name::after { top: 17px; right: -35px; bottom: 23px; left: -35px; }
.card-style-1 .bride-groom-name::before {top: 34px; right: -50px; bottom: 40px; left: -50px; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block { height: 180px !important; width: 180px !important; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block .album-disc-image { width: 150px !important; height: 150px !important; right: -40px; }
.portfolio-style-2 .album-list-slider .album-slide .album-image-block:hover .album-disc-image { right: -50px !important; }
.testimonial-style-3 .testimonial-slider-style-3 .md-testimonial-slide .testimonial-image { width: 130px !important; height: 150px !important; }
.testimonial-style-3 .testimonial-slider-style-3 .md-testimonial-slide .testimonial-image .image-behind-border { width: 140px !important; height: 160px !important; }
.team-style-3 .artist-image-block { width: 100%; }
.banner-style-2 .md-banner-content .banner-content-image { width: 100%; }
.product-shop-style-2 .properties-space { padding: 0; }
.product-shop-style-2 .properties-container .property-box .property-detail { padding-right: 15px; padding-left: 15px;}
.product-shop-style-2 .properties-container .property-box .property-detail ul li { width: 100%; text-align: center; }
.team-style-2 .agent-content-block { width: 100%; }
.team-style-2 .agent-social-block p { padding-right: 0px; width: 100%; margin-bottom: 10px !important; }
.team-style-2 .agent-contact-block span { padding-right: 0; width: 100%; margin-bottom: 10px; }
.gallery-style-2 .col-xs-6 { width: 100%; }
.floor-plan-style-1 .floor-plan-grid .floor-plan-image { height: 300px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide { padding-bottom: 30px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-image-block { height: 300px; margin-bottom: 20px; }
.blog-style-3 .blog-slider-style-3 .recent-post-slide .post-content-block { width: 100%; position: static; }
.team-style-3 .team-slider-style-3 .speaker-slides .speaker-image,
.blog-style-4 .blog-slide .blog-image { width: 100%; }
.gallery-style-3 .col-xs-6 { width: 100%; }
.md-team-content .md-team-img { width: 300px; }
.time_circles .time-span-number { font-size: 14px !important; }
.time_circles .time-span-word { font-size: 6px !important; }
.md-newsletter-form.news-letter-style-1 input[type="email"] { width: 100%; }
.md-newsletter-form.news-letter-style-2 { width: 290px; }
.md-newsletter-form.news-letter-style-2 .md-form-submit { right: 2px; }
.social-media-icons.ul-with-border-raddius-bg .list-group { padding: 15px 20px !important; top: -23px; }
.social-media-icons ul li { font-size: 22px; }
.banner-arrow-style-1 .slick-arrow { width: 40px; height: 40px; }
.md-testimonial-for-slider.arrow-style-1 .slick-prev.slick-arrow { left: 29% !important; }
.md-testimonial-for-slider.arrow-style-1 .slick-next.slick-arrow { right: 26% !important; }
.img-round-340 { height: 250px; width: 250px; }
.img-round-273 { height: 230px; width: 230px; }
.img-round-165 { height: 135px; width: 135px; }
.img-round-156 { height: 130px; width: 130px; }
.img-round-132 { height: 110px; width: 110px; }
.img-round-116 { height: 100px; width: 100px; }
.ionicon-humor-bg { font-size: 60px !important; }
.md-copyright { padding-right: 15px; padding-left: 15px; }
.md-logoshowcase-section .col-xs-6 { width: 100%; }

/*.md-header-style-4 .md-main-menu a.btn-small { position: relative; margin: 30px auto 0; float: none; display: table; }*/

.md-header-style-5 .search-form-style-1{margin: 0 auto; display: inherit;}

/*Css by mansi from 1st nov 2017*/
.banner-style-14 .banner-slider-style-3 .banner-slide .md-banner-content { padding-top: 100px; padding-bottom: 100px; }
.dot-style-4.position-left-dot .slick-dots { top: 530px; }
.banner-style-17 .banner-slider-style-6 .md-banner-content h1.text-extra-large-65 { padding: 0 10px; }
.logoshowcase-style-4 .logo-image { padding: 50px; }
.logoshowcase-style-4 .col-xs-6:nth-last-child(2) { border-bottom: 1px solid #eaeaea; }
.logoshowcase-style-4 .col-xs-6:nth-last-child(even) { border-right: 0px; }

/* New element css developed by Mansi*/
.counter-style-6 .col-xs-6 { width: 100%; }
.counter-style-6.counter-section .col-xs-6:nth-last-child(2) { margin-bottom: 30px; }

.counter-style-8 .flex-container { padding: 50px 10px; }
.counter-style-9.counter-section .col-xs-6 { width: 100%;  }
.counter-style-9.counter-section .col-xs-12 > .col-xs-6 { padding-left: 0; padding-right: 0;}
.counter-style-9 .col-xs-6 .counter-block { margin-bottom: 30px; }
.counter-style-9 .col-xs-6:last-child .counter-block { margin-bottom: 0px; }

/* shweta */
.md-header-style-5 .search-form-style-1{margin: 0 auto; display: inherit;}

/* New template element css */
.text-title-style-10 .side-image-block { height: 350px; }
.text-title-style-10 .side-image-block:before, 
.text-title-style-10 .side-image-block:after { height: 240px; }
}