section#aboutus.aboutus-style-3.md-aboutus.width-100.padding-tb-60-67.position-relative.cover-background.bg-img(style='background-image: linear-gradient(45deg, rgba(33, 212, 253, 0.8) 0%, rgba(183, 33, 255, 0.8) 100%), url(static/images/bus.jpg); background-repeat:  no-repeat;')
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        .row
            .flex-container.display-flex
                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .md-about-left.text-align-left
                        h2.text-large-40.text-transform-uppercase.font-weight-600.color-white Sobre o evento
                        p.color-white.text-small-16.font-weight-400.margin-bottom-45
                            | O HACKEMTU é um hackathon voltado para a mobilidade
                            | urbana com foco em inovação em transporte público. A realização
                            | é da Empresa Metropolitana de Transportes Urbanos de São Paulo
                            | (EMTU/SP), da Universidade Estadual de Campinas e da startup
                            | Scipopulis, que acreditam que dados abertos, comunidade e
                            | colaboração são fundamentais para a inovação e o desenvolvimento
                            | do setor. A iniciativa é da EMTU/SP, da Youth for Public
                            | Transport Foundation (Y4PT) e da Divisão América Latina da União
                            | Internacional de Transporte Público. Serão 35 horas ininterruptas
                            | entre os dias 7 e 8 de abril de 2018 no Parque Tecnológico da
                            | Unicamp, em Campinas.
                        .md-about-readmore
                            a.btn.empty-btn.white-btn(href='#' data-featherlight="#readmore") Saiba mais
                            #readmore-display(style="display: none;")
                                #readmore
                                    | O HACKEMTU é uma maratona de tecnologia voltada para mobilidade
                                    | urbana com foco em transporte público. A realização
                                    | é da Empresa Metropolitana de Transportes Urbanos de São Paulo
                                    | (EMTU/SP), da Universidade Estadual de Campinas e da startup
                                    | Scipopulis.
                                    br
                                    | A iniciativa é da EMTU/SP, da Youth for Public
                                    | Transport Foundation (Y4PT) e da Divisão América Latina da União
                                    | Internacional de Transporte Público. Serão 35 horas ininterruptas
                                    | entre os dias 7 e 8 de abril de 2018 no Parque Tecnológico da
                                    | Unicamp, em Campinas.
                                    br
                                    | Especialistas das mais significativas
                                    | instituições públicas e privadas do setor Transportes e de
                                    | Mobilidade Urbana do Brasil exercerão a função de mentores
                                    | nesta maratona que pretende ser um hub de conhecimento entre
                                    | o meio acadêmico e de pesquisa, o ecossistema de inovação
                                    | e o setor de transporte público e de mobilidade.
                                    br
                                    | Haverá exigência de desenvolvimento de códigos exclusivos e livres,
                                    | mas sugerimos que estudantes e profissionais das áreas de inovação,
                                    | urbanismo e design também participem, ampliando a visão para a
                                    | construção de soluções e de tendências.

                .col-lg-6.col-md-6.col-sm-6.col-xs-12
                    .md-about-right.text-align-left
                        img.img100.img-object-fit-contain(src='static/images/walking-street.jpg', alt='Av Paulista, by Guilherme Stecanella')
