section#schedule.upcoming-event-style-8.md-classes-section.width-100(style='background-image: linear-gradient(to right, rgba(245,245,248,1) 0%, rgba(245,245,248,1) 50%, rgba(232,235,244,1) 51%, rgba(232,235,244,1) 71%, rgba(232,235,244,1) 100%);')
    .container
        .row
            .col-lg-3.col-md-3.col-sm-3.col-xs-12.padding-tb-90-100.padding-left-15.padding-right-15.bg-bluish-white
                h2.text-large-40.font-weight-500.color-black.word-wrap.margin-bottom-11.editContent   Agenda
            .col-lg-9.col-md-9.col-sm-9.col-xs-12.padding-tb-90-100.padding-right-30.padding-left-30.bg-sapphire-bluish
                h5 SÁBADO 7 DE ABRIL
                ul.event8-list.list-style-none.padding-top-20
                    +event('08:00 às 09:00', 'chevron-right', 'Credenciamento, recepção e formação de equipes')
                    +event('09:00 às 10:00', 'chevron-right', 'abertura institucional e apresentação dos desafios')
                    +event('10:00 às 11:00', 'chevron-right', 'apresentação dos dados e particularidades do sistema')
                    +event('11:00 às 13:00', 'chevron-right', 'mentoria e desenvolvimento')
                    +event('13:00 às 14:00', 'chevron-right', 'almoço')
                    +event('14:00 às 18:00', 'chevron-right', 'mentoria e desenvolvimento')
                    +event('18:00 às 19:00', 'chevron-right', 'jantar')
                    +event('19:00 às 23:00', 'chevron-right', 'desenvolvimento')
                    +event('23:00 às 24:00', 'chevron-right', 'pizza')
                h5.padding-top-20 DOMINGO 8 DE ABRIL
                ul.event8-list.list-style-none.padding-top-20
                    +event('07:00 às 08:00', 'chevron-right', 'café da manhã')
                    +event('08:00 às 09:00', 'chevron-right', 'palestra sobre abordagens em pitchs')
                    +event('09:00 às 12:30', 'chevron-right', 'mentoria e desenvolvimento')
                    +event('12:30 às 13:30', 'chevron-right', 'almoço')
                    +event('13:30 às 15:00', 'chevron-right', 'mentoria e desenvolvimento')
                    +event('15:30 às 17:00', 'chevron-right', 'escolha dos finalistas')
                    +event('17:30', 'chevron-right', 'pitch dos 5 finalistas')
                    +event('18:00', 'chevron-right', 'divulgação do vencedor e encerramento')
