section#dt-box-1.banner-style-1.md-header-banner.text-align-center.position-relative.bg-img.bg-size-cover.bg-no-repeat(style='background-image: linear-gradient(45deg, rgba(33, 212, 253, 0.8) 0%, rgba(183, 33, 255, 0.8) 100%), url(static/city.jpeg); background-repeat: no-repeat; background-size: cover;')
    .jumbotron.bg-transparent.height-100.position-relative
        .container.height-100
            .md-banner-content.margin-lr-auto.wow.fadeInUp(data-wow-delay='0.5s')
                .md-bannertext-img.md-banner-content-cell-middle.height-100
                    .banner-event-date-venue.color-white.font-weight-600.text-small-16.position-relative.display-table.margin-lr-auto.margin-bottom-35
                        span#dt-head2-1.event-date.display-inline-block.position-relative.editContent
                            i.fa.fa-calendar.icon-style(aria-hidden='true')
                            |  7 - 8 de abril 2018
                        span#dt-head2-2.event-venue.display-inline-block.position-relative.editContent
                            i.fa.fa-map-o.icon-style(aria-hidden='true')
                            |  Parque Científico e Tecnológico da Unicamp
                    h1#dt-head2-title-1.text-extra-large-90.color-white.font-weight-600.text-transform-uppercase.margin-bottom-25
                        span.display-block.text-medium-22.color-white.font-weight-600.text-transform-uppercase.margin-bottom-30 Hackathon de Mobilidade Urbana
                        img(src="logo.svg" style="width: 50%; margin-top: -25%; margin-bottom: -25%;")
                    h5#dt-head2-title-2.display-table.margin-lr-auto.text-medium-22.color-white.font-weight-600.text-transform-uppercase.margin-bottom-30.position-relative.line-left-right Inovação em Transporte Público
                    #dt-head2-timer-1.timer-3.event-time-counter.margin-bottom-80.width-100(data-timer='1000')
                    a#dt-head2-btn-1.btn.bg-white.color-black.margin-lr-15(href='https://my.hackemtu.com/') Inscrição
                    a#dt-head2-btn-2.btn.empty-btn.white-btn.margin-lr-15(href='regulamento.pdf') Regulamento
