section#blog.blog-style-4.blog-section.text-align-center.width-100.padding-tb-73-80.display-inline-block.header-bg
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        h2.text-large-40.text-transform-uppercase.font-weight-600.color-black.margin-bottom-60 Notícias
        .blog-slide.row
            - var counter = 0;

            each article in public.articles._data
                +post(article.date,
                      article.title,
                      article.url,
                      article.photo,
                      article.author,
                      article.alt,
                      ((counter%2==0) && (counter!=0)))
                - counter++;


