section#faq.accordion-style-1.width-100.padding-tb-80.position-relative.header-bg
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h2.text-large-40.text-align-center.text-transform-uppercase.font-weight-600.color-black.margin-bottom-60.margin-top-80 Faq
                #accordion.panel-group.no-margin-bottom.accordion-style1.accordion-block
                    - var counter = 0;
                    each faq in public.faq._data
                        +faq(counter, faq.question, faq.answer)
