// Footer start
footer#footer.footer-style-3.md-footer.width-100.text-align-center.padding-tb-73-71.position-relative.cover-background.bg-img(style='background-image: linear-gradient(45deg, rgba(33, 212, 253, 0.8) 0%, rgba(183, 33, 255, 0.8) 100%), url(static/images/side-street.jpeg); background-repeat: no-repeat;')
    .container.position-relative.wow.fadeInUp(data-wow-delay='0.5s')
        .row
            .col-lg-12.col-md-12.col-sm-12.col-xs-12
                .md-social-menu.width-100.float-left.social-media-icons.social-rounded-bg.margin-bottom-25
                    ul.list-group.wow.fadeInUp(data-wow-delay='0.5s')
                        li.list-group-item
                            a(href='https://www.facebook.com/emtusp.oficial', target='_blank')
                                i.fa.fa-facebook.icon-style(aria-hidden='true')
                        li.list-group-item
                            a(href='https://www.instagram.com/hackemtu', target='_blank')
                                i.fa.fa-instagram.icon-style(aria-hidden='true')
                        li.list-group-item
                            a(href='https://twitter.com/hackemtu', target='_blank')
                                i.fa.fa-twitter.icon-style(aria-hidden='true')
                        li.list-group-item
                            a(href='https://www.linkedin.com/company/empresa-metropolitana-de-transportes-urbanos-de-s-o-paulo-emtu-sp', target='_blank')
                                i.fa.fa-linkedin.icon-style(aria-hidden='true')
                        li.list-group-item
                            a(href='https://www.youtube.com/user/emtusp', target='_blank')
                                i.fa.fa-youtube.icon-style(aria-hidden='true')
                .md-copyright.width-100.float-left.text-small-16.font-weight-400.color-white.position-relative
                    .wow.fadeInUp
                        span.display-inline-block Made with ❤ by the
                        .color-white.text-small-16.font-weight-600 HackEMTU Team

