header#md-header.md-site-header.md-header-style-1.white-orange-menu.position-fixed.width-100.z-index-8.wow.fadeInUp(data-wow-delay='0.5s')
    .md-logo-navbar.width-100.linear-transition
        .container
            .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-6
                .col-lg-9.col-md-9.col-sm-9.col-xs-12.md-main-menu
                    .menuBar.jumplinks
                        nav.navbar.navbar-default.bg-transparent
                            .navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#md-site-navbar', aria-expanded='false')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                            #md-site-navbar.collapse.navbar-collapse
                                ul.nav.navbar-nav.navbar-right
                                    li
                                        a#head1-nav-1(href='#aboutus') Sobre
                                    li
                                        a#head1-nav-1(href='#schedule') Agenda
                                    li
                                        a#head1-nav-2(href='#contact') Localização
                                    li
                                        a#head1-nav-3(href='#story') Prêmio
                                    //-
                                            li
                                                a#head1-nav-3(href='#gallery') Mídia
                                            li
                                                a#head1-nav-3(href='#faq') FAQ
                                    li
                                        a#head1-nav-4(href='#org') Organização
                                    li
                                        a#head1-nav-4(href='#partners') Parceiros

