// Logoshowcase start
section#logos.logoshowcase-style-2.md-logoshowcase-section.text-align-center.width-100.padding-tb-73-50.display-inline-block.header-bg
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        .logo-slider.row
        each sponsor, slug in public.sponsors._data
            - sponsor.logo = (sponsor.logo == "" ?  "static/images/sponsors/" + slug + ".svg" : sponsor.logo)
            +sponsor(sponsor.logo, slug, sponsor.url)
