// Contact Start
section#contact.contactus-style-2.md-contactus.bg-white.position-relative.width-100
    .container-fluid.wow.fadeInUp(data-wow-delay='0.5s')
        .row
            .flex-container.display-flex
                .col-lg-8.col-md-12.col-sm-12.col-xs-12.no-padding-lr
                    .md-map
                        iframe#dt-contact2-map(src='https://www.google.com/maps/d/u/0/embed?mid=1LM8-C69BM9CmAW7ibAtAbulfcSyhvo17', width='400', height='200')
                .col-lg-4.col-md-12.col-sm-12.col-xs-12
                    .contact-form-address-container.width-100
                        h2#dt-contact2-text-1.text-large-40.font-weight-600.text-transform-uppercase.color-black.margin-bottom-40 Localização
                        .contact-address.width-100
                            span#dt-contact2-text-2.color-black.text-small-16.font-weight-600.margin-bottom-5.display-block Abertura
                            p#dt-contact2-text-3.color-charcoal-light.text-small-16.font-weight-400.margin-bottom-35
                                | Auditório - Instituto de Computação 3,
                                | Unicamp
                                br
                                | Rua Saturnino de Brito, 573, Campinas – SP
                        .contact-address.width-100
                            span#dt-contact2-text-2.color-black.text-small-16.font-weight-600.margin-bottom-5.display-block Hackathon
                            p#dt-contact2-text-3.color-charcoal-light.text-small-16.font-weight-400.margin-bottom-35
                                | Parque Científico e Tecnológico da Unicamp
                                br
                                | Avenida Alan Turing, 776, Cidade Universitária, Campinas
                                br
                                | 1º andar

