section#org.text-title-style-2.aboutus-style-7.story-section.width-100.text-align-center.padding-tb-94-62.display-inline-block.header-bg
  .container.wow.fadeInUp(data-wow-delay='0.5s')
     h2.text-large-40.text-align-center.text-transform-uppercase.font-weight-600.color-black.margin-bottom-80 Organização
    .row
      each sponsor, slug in public.sponsors._data
          - var logo = "static/images/sponsors/" + slug + ".svg"
          if sponsor.type == 'org'
              .col-lg-4.col-md-4.col-sm-12.col-xs-12
                .story-content-block.margin-bottom-30
                  a(href=sponsor.url target="_blank")
                    img.block(src=logo alt=slug style="margin: 10% auto; width: 200px; height: 100px;")
                  p#aboutorg.text-small-14.color-charcoal-light.font-weight-400.padding-lr-50.no-margin-bottom
                     | #{sponsor.text}

    .row
        .col-lg-2.col-md-2
        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            h5.text-medium-20.text-align-center.text-transform-uppercase.font-weight-600.color-charcoal-light.margin-bottom-40.margin-top-60 Iniciativa
            .story-content-block.margin-bottom-30
                a(href='http://www.y4pt.org/' target="_blank")
                    img.block(src='static/images/sponsors/y4pt.png' alt='Youth for Public Transport Foundation' style="margin: 10% auto; width: 200px; height: 100px;")
                p#aboutorg.text-small-14.color-charcoal-light.font-weight-400.padding-lr-50.no-margin-bottom
                   | A Youth For Public Transport Foudation (Y4PT) é uma organização não governamental que promove ações com participações de pessoas jovem que objetivando a mobilidade sustentável, promovendo o uso integrado do transporte público com outros meios de transporte, para alcançar o bem estar e a melhor qualidade de vida das pessoas ao redor do mundo. A missão do Y4PT é desenvolver reais oportunidades entre os jovens para o desenvolvimento de ideias que contribuam para a melhoria da mobilidade para cada um.

        .col-lg-4.col-md-4.col-sm-12.col-xs-12
            h5.text-medium-20.text-align-center.text-transform-uppercase.font-weight-600.color-charcoal-light.margin-bottom-40.margin-top-60 Apoio Institucional
            .story-content-block.margin-bottom-30
                a(href='http://www.uitp.org/' target="_blank")
                    img.block(src='static/images/sponsors/uitp.png' alt='UITP' style="margin: 10% auto; width: 200px; height: 100px;")
                p#aboutorg.text-small-14.color-charcoal-light.font-weight-400.padding-lr-50.no-margin-bottom
                    | A União Internacional de Transporte Público (UITP), com sede em Bruxelas, é uma instituição sem fins lucrativos que advoga pela mobilidade sustentável em 96 países. A UITI tem mais de 1.400 membros. São autoridades em transporte, operadores, institutos de pesquisa e diverso segmentos que compõem o completo setor de transportes e mais de 18 mil pessoas atuantes na associação. A Divisão América latina tem sede em São Paulo e promove ações de melhores práticas em transporte público e desenvolve alternativas para a mobilidade nas cidades. Conta com 77 membros na Argentina, Bermuda, Bolivia, Brasil, Chile, Colômbia, Costa Rica, Equador, Peru, México e Uruguai.
