// Testimonial start
section#partners.testimonial-style-2.md-testimonial.text-align-center.width-100.padding-tb-75-63.cover-background.bg-img.bg-size-cover.bg-no-repeat(style='background-image: linear-gradient(45deg, rgba(33, 212, 253, 0.8) 0%, rgba(183, 33, 255, 0.8) 100%), url(static/images/bus.jpg);')
    .container
        h2.text-medium-38.text-align-center.text-transform-uppercase.font-weight-600.color-white.margin-bottom-40 Parceiros
        .testimonial-slider-style-2.md-testimonial-slider.dot-style-1.small-dot.black-white-dot
            each sponsor, slug in public.sponsors._data
                if sponsor.type == 'part'
                    - sponsor.logo = (sponsor.logo == "" ?  "static/images/sponsors/" + slug + ".svg" : sponsor.logo)
                    +testimonial(slug, sponsor.subtitle, sponsor.text, sponsor.logo, slug, sponsor.url)

