section#story.text-title-style-7.width-100.text-align-left.padding-tb-90-52.display-block.header-bg.cover-background.bg-img(style='background-image: linear-gradient(45deg, rgba(33, 212, 253, 0.8) 0%, rgba(183, 33, 255, 0.8) 100%), url(static/images/dubai.jpg); background-repeat:  no-repeat;')
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        h2.text-large-40.text-transform-uppercase.font-weight-600.color-white.margin-bottom-1 Premiação
        h5.color-white.font-weight-300.text-medium-22.margin-bottom-44
            | 
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-12.margin-bottom-30
                p.text-small-16.font-weight-400.color-white.margin-bottom-22.padding-right-57
                    | Um integrante do grupo vencedor participará - com todas as despesas pagas - da Global Transport Hackathon Y4PT, a convite da Youth for Public Transport Foundation (Y4PT), vinculada à União Internacional de Transporte Público (UITP). O evento será realizado em Dubai, Emirados Árabes Unidos, entre os dias 20 e 25 de abril de 2018. Saiba mais sobre o evento (http://www.y4pt.org/projects/hackathon/)
            .col-lg-6.col-md-6.col-sm-6.col-xs-12.margin-bottom-30
                h5.text-medium-22.font-weight-600.color-white.margin-bottom-16 Inclusos
                ul.services-list.list-style-none.text-small-16.font-weight-600.color-white.text-transform-uppercase
                    li.position-relative.padding-left-35.margin-bottom-14
                        | Inscrição na GLOBAL TRANSPORT HACKATHON Y4PT
                    li.position-relative.padding-left-35.margin-bottom-14
                        | Passagem aérea
                    li.position-relative.padding-left-35.margin-bottom-14
                        | Hospedagem

