section#twitter.socialmedia-block-style-1.twitter-section.width-100.cover-background.padding-tb-91-92.text-align-center.position-relative.bg-tomato-pink.header-bg
    .container.wow.fadeInUp(data-wow-delay='0.5s')
        .row
            .col-lg-2.col-md-2.col-sm-4.col-xs-12
                .twiiter-logo.color-black.faicon-counter-small.cursor-pointer
                    i.fa.fa-twitter.linear-transition.icon-style(aria-hidden='true')
                .twitter-id
                    a.color-white.font-weight-400.text-small-16.editContent(href='#') @believable
            .col-lg-10.col-md-10.col-sm-8.col-xs-12
                .user-tweet.text-align-left
                    p.text-small-16.color-white.font-weight-400.margin-bottom-15
                        | Passages of Lorem Ipsum available, but the majority hafered
                        b #alteration in some @believable, by injected2017
                        |  humour or randomised
                        b #alteration in some @believable
                        |  even slightly believable...
                span.display-block.text-align-left.text-small-16.color-white.font-weight-400.editContent 7:PM - 16 Feb 2017

