doctype
html
  head
      meta(property='og:image', content='http://hackemtu.com/static/media.jpg')
      meta(property='og:image:type', content='image/png')
      meta(property='og:type', content='website')
      meta(property='og:url', content='https://www.hackemtu.com/')
      meta(property='og:title', content='HackEMTU')
      meta(property='og:description', content='Hackathon de Mobilidade Urbana')

      title HackEMTU
      include _partials/styles

  body(id="md-site-main-box", data-spy="scroll", data-target="#md-side-navbar")
      #page.page
          != yield

include _partials/scripts
