include _mixins/faq
include _mixins/event
include _mixins/post
include _mixins/sponsor
include _mixins/testimonial

include _sections/header
include _sections/banner
include _sections/about
include _sections/agenda
include _sections/map
include _sections/prize
//-
        include _sections/gallery
        include _sections/blog
        include _sections/faq
include _sections/organizers
include _sections/partners
include _sections/logos
include _sections/footer


