mixin event(time, icon, text)
    li.text-small-16.color-black.text-transform-uppercase.font-weight-600.margin-bottom-15
        .col-lg-3.col-md-3
                | #{time}
        i.fa.color-tomato-red.faicon-medium.padding-lr-26.vertical-align-middle.icon-style(aria-hidden='true', class='fa-' + icon)
        span=text
