mixin faq(id, question, answer)
    .panel.panel-default
        .panel-heading.header-bg
            a.toggle-accordion(data-toggle='collapse', data-parent='#accordion', href='#collapse' + id)
                .panel-title
                    span #{question}
                    i.fa.ion-ios-plus-empty.pull-right
        .panel-collapse.collapse(id='collapse' + id)
            .panel-body
                | #{answer}
