mixin post(date, title, url, photo, author, alt, newline)
        .col-lg-6.col-md-6.col-sm-12.col-xs-12.margin-bottom-50(class= newline? "clear-both" : "")
            a(href=url)
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            .blog-image.width-100.position-relative
                                img.border-radius-3.img-object-fit-cover.img100.height-100(src=photo, alt=alt)
                        .col-lg-6.col-md-6.col-sm-6.col-xs-12
                            .blog-content.text-align-left
                                .blog-title.display-block.color-black.font-weight-600.text-medium-22.text-transform-capitalize.margin-bottom-10.editContent(href=url) #{title}
                                span.blog-author.color-bright-gray.font-weight-400.text-extra-small-12.display-inline-block
                                    .color-bright-gray.font-weight-400.text-extra-small-12(href='#') #{author}
                                span.blog-date.color-bright-gray.font-weight-400.text-extra-small-12.display-block.margin-bottom-15 #{date}
                                .blog-read-more.text-medium-20.color-black.icon-style(href='#')
                                    i.fa.fa-arrow-circle-o-right.icon-style(aria-hidden='true')
        tr
