mixin sponsor(logo, alt, url)
    .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a(href=url target="_blank")
            .logo-image.border-dim-gray.bg-white.margin-bottom-30
                img#dt-partner2-img-1.linear-transition.opacity-30(src=logo,
                                                                   alt=alt)
