mixin testimonial(name, subtitle, text, logo, alt, url)
    .md-testimonial-slide.margin-bottom-45
        a(href=url, target="_blank")
            img.block(src=logo alt=name style="margin: 2% auto; max-width: 150px; max-height: 70px; -webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);")
        p#dt-test2-text-1.color-white.text-medium-16.font-weight-500.margin-bottom-15.font-italic(style="line-height: 150%;")
                | #{text}
        hr.margin-bottom-20.margin-lr-auto.no-margin-top
        h5#dt-test2-text-2.md-name.color-white.font-weight-600.text-transform-capitalize.text-medium-18.margin-bottom-5 #{name}
        span#dt-test2-text-3.text-small-16.font-weight-400.display-block.color-white #{subtitle}
