script(src="https://instagram-web-auth.firebaseapp.com/instauth.min.js")
script(src="//code.jquery.com/jquery-1.12.4.js")
script(src="static/js/bootstrap.min.js")
script(src="static/js/slick.js")
script(src="static/js/jquery.tile.js")
script(src="static/js/wow.min.js")
script(src="static/js/jquery.isotope.min.js")
script(src="static/js/jquery.waypoints.min.js")
script(src="static/js/jquery.counterup.js")
script(src="static/js/jquery.magnific-popup.js")
script(src="static/js/jquery.mCustomScrollbar.js")
script(src="static/js/nouislider.js")
script(src="static/js/wNumb.js")
script(src="static/js/simplyCountdown.js")
script(src="static/js/TimeCircles.js")
script(src="static/js/public.js")
script(src="static/js/readmore.js")
script(src="static/js/instafeed.js")
script(src="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.js")

script.
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'hackaton',
        clientId: '',
        accessToken: '',
        target: 'gallery',
        limit: 10,
        resolution: 'standard_resolution',
        template: '<div class="gallery-image bg-black position-relative linear-transition"><img src="{{image}}" alt="{{caption}}" class="linear-transition opacity-80 img100 height-100 img-object-fit-cover"><a href="{{link}}" target="_blank" class="gallery-image-popup md-color-overlay gradient-green-blue display-table width-calc-100 height-100 opacity-0"><p class="display-table-cell-vertical-middle block compact-text-white">{{caption}}<br><br><i class="icon ion-ios-heart-outline ionicon-extra-large color-white"></i><br><br>{{likes}}</p></a></div>'
    });
    feed.run();

script.
        var autoSizeText;

        autoSizeText = function() {
          var el, elements, _i, _len, _results;
          elements = $('.resize');
          console.log(elements);
          if (elements.length < 0) {
            return;
          }
          _results = [];
          for (_i = 0, _len = elements.length; _i < _len; _i++) {
            el = elements[_i];
            _results.push((function(el) {
              var resizeText, _results1;
              resizeText = function() {
                var elNewFontSize;
                elNewFontSize = (parseInt($(el).css('font-size').slice(0, -2)) - 1) + 'px';
                return $(el).css('font-size', elNewFontSize);
              };
              _results1 = [];
              while (el.scrollHeight > el.offsetHeight) {
                _results1.push(resizeText());
              }
               return _results1;
            })(el));
          }
          return _results;
        };

        $(document).ready(function() {
          return autoSizeText();
        });

script.
        $("[id=aboutorg]").readmore({
            collapsedHeight: 200,
            heightMargin: 16,
            blockCSS: 'display: block; width: 100%;',
            embedCSS: true,
            afterToggle: function( trigger, element, expanded ) {
                   if ( expanded ) {
                        element.css( "height", "" );
                        element.css( "height", element.height() + "px" );
                   } else {
                        $('html, body').animate( { scrollTop: element.offset().top }, {duration: 300 } );
                   }
            },
        });
