link(rel="stylesheet" href="//cdn.rawgit.com/noelboss/featherlight/1.7.12/release/featherlight.min.css")
link(rel="stylesheet" href="static/css/bootstrap.css")
link(rel="stylesheet" href="static/css/animate.css")
link(rel="stylesheet" href="static/css/font-awesome.min.css")
link(rel="stylesheet" href="static/css/ionicons.css")
link(rel="stylesheet" href="static/css/slick.css")
link(rel="stylesheet" href="static/css/jquery.mCustomScrollbar.css")
link(rel="stylesheet" href="static/css/magnific-popup.css")
link(rel="stylesheet" href="static/css/nouislider.min.css")
link(rel="stylesheet" href="static/css/range-slider.css")
link(rel="stylesheet" href="static/css/range-slider.css")
link(rel="stylesheet" href="static/css/simplyCountdown.theme.default.css")
link(rel="stylesheet" href="static/css/TimeCircles.css")
link(rel="stylesheet" href="static/css/TimeCircles.css")
link(rel="stylesheet" href="static/css/elements.css")
link(rel="stylesheet" href="static/css/base.css")
link(rel="stylesheet" href="static/css/media.css")


